{% extends 'base.html.twig' %}

{% block title %}NaturAdapt{% endblock %}

{% block body %}
	<main>
		<section class="site-presentation">
			<h1>Bienvenue sur NaturAdapt</h1>

			<p>Échangeons pour adapter la gestion des espaces naturels face au changement climatique</p>

			<p>En savoir plus</p>
		</section>
		<section class="groups-list">
			<ul>
				{% for group in groups %}
					<li>{{ group.name }}</li>
				{% endfor %}
			</ul>
		</section>
	</main>
{% endblock %}
