<div class="page page__full" style="--color: {{ page.usergroup.name|color }}">
	<div class="content-container">
		<div class="group-restricted">
			<p class="group-restricted--title">{{ 'pages.group.restricted.title'|trans }}</p>
			<p>{{ 'pages.group.restricted.body'|trans }}</p>
		</div>
	</div>
</div>
