{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - {{ group.name }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__article-index">
		{% include 'contents/article/article--full.html.twig' with {'group':group, 'article':article} %}
	</section>
{% endblock %}
