/**************************************************
 * DOCUMENTS LIST
 *************************************************/

.documents-folder {
	margin: 0 0 padding_vertical();
}

.documents-folder--name {
	position:      relative;
	display:       flex;
	flex-flow:     row nowrap;
	align-items:   center;

	padding:       padding_vertical() padding_horizontal();

	border-bottom: 1px solid $color_grey_border;

	span {
		flex:      1;

		@include font_title_bold;
		font-size: rem(20px);
	}

	.list-toggle {
		@include button-reset;

		display: block;

		&::before {
			content:             '';
			display:             block;
			width:               1em;
			height:              1em;

			$color:              $color_default;
			@import '../../_assets/folding.svg';
			background-repeat:   no-repeat;
			background-position: center center;

			transition:          transform .15s ease-in-out;
		}

		&:not([data-list-aria-expanded="false"])::before {
			transform: rotate(-180deg);
		}

		&::after {
			content:  '';
			position: absolute;
			top:      0;
			right:    0;
			bottom:   0;
			left:     0;
		}

		span {
			@include visually-hidden;
		}
	}
}

.documents-list {
	@include clearulli(true);

	overflow: hidden;

	&[aria-expanded="false"] {
		max-height: 0;
	}

	> li {
		border-bottom: 1px solid $color_grey_border;
	}
}

.document__teaser {
	position:    relative;

	display:     flex;
	flex-flow:   row nowrap;
	align-items: center;

	font-size:   rem(16px);

	&:focus,
	&:hover {
		background-color: rgba(white, .6);
	}

	a {
		color:           inherit;
		text-decoration: none;
	}

	.document-infos {
		flex-grow:   1;

		display:     flex;
		flex-flow:   row nowrap;
		align-items: center;

		padding:     padding_vertical() padding_horizontal();
	}

	.document--icon {
		width:             rem(50px);
		height:            rem(50px);
		border-radius:     50%;
		background-repeat: no-repeat;
		background-size:   contain;
		background-image:  url('/media/layout/icons/other.png');

		span {
			@include visually-hidden;
		}
	}

	&[data-type="application/pdf"] {
		.document--icon {
			background-image: url('/media/layout/icons/pdf.png');
		}
	}

	&[data-type^="image/"] {
		.document--icon {
			background-image: url('/media/layout/icons/image.png');
		}
	}

	.document--title {
		flex-grow:     1;
		padding:       0 padding_horizontal();

		overflow:      hidden;
		text-overflow: ellipsis;

		@include font_title_bold;
	}

	.document--date {
		width: rem(120px);

		color: $color_grey_neutral;
	}
}

.document__in-items-list {
	span {
		display:       block;
		overflow:      hidden;
		text-overflow: ellipsis;
	}
}
