doctrine_migrations:
    migrations_paths:
        # namespace is arbitrary but should be different from App\Migrations
        # as migrations classes should NOT be autoloaded
        'DoctrineMigrations': '%kernel.project_dir%/migrations'
    em: default
    storage:
        table_storage:
            table_name: '%migrations_table_name%'

parameters:
    migrations_table_name: 'doctrine_migration_versions'
