# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    loaders:
        userfiles:
            stream:
                wrapper: gaufrette://userfiles/
        usergroupfiles:
            stream:
                wrapper: gaufrette://usergroupfiles/
    filter_sets:
        avatar:
            data_loader: userfiles
            cache: ~
            quality: 75
            filters:
                thumbnail:
                    mode: outbound
                    size: [52, 52]
                    allow_upscale: true
        profile:
            data_loader: userfiles
            cache: ~
            quality: 75
            filters:
                thumbnail:
                    mode: outbound
                    size: [150, 150]
                    allow_upscale: true
        logo:
            data_loader: usergroupfiles
            cache: ~
            quality: 75
            filters:
                thumbnail:
                    mode: outbound
                    size: [300, 300]
                    allow_upscale: true
        cover:
            data_loader: usergroupfiles
            cache: ~
            quality: 75
            filters:
                thumbnail:
                    mode: outbound
                    size: [1366, 380]
                    allow_upscale: false
        cover_teaser:
            data_loader: usergroupfiles
            cache: ~
            quality: 75
            filters:
                thumbnail:
                    mode: outbound
                    size: [584, 330]
                    allow_upscale: false
        article_cover:
            data_loader: usergroupfiles
            cache: ~
            quality: 75
            filters:
                downscale:
                    max: [480, 480]
