{% extends 'base.html.twig' %}

{% block title %}{{ group.name }} - {{ plateform.name }}{% endblock %}

{% block body %}
	<div class="content-container">
		<section class="group-index">
			{% include 'contents/group/group--full.html.twig' with {'group':group} %}
		</section>
	</div>
{% endblock %}
