{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__groups-index">
		<div class="main--header">
			<div class="main--header--image">
				<img src="{{ asset('media/layout/front-hero.jpg') }}" alt="">
			</div>
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}

				<div class="narrow">
					<h1 class="small-title">Bienvenue sur {{ plateform.name }}</h1>

					<p class="h1">Échangeons pour adapter la gestion des espaces naturels face au changement climatique</p>

					<p><a class="cta__white" href="{{ path('homepage') }}">En savoir plus</a></p>
				</div>
			</div>
		</div>
		<div class="main--content content-container">
			<section class="groups-list">
				<ul>
					{% for group in groups %}
						<li>
							{% include 'contents/group/group--teaser.html.twig' with {'group':group} %}
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
