{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="group-header">
					<h1 class="h1">{{ 'pages.group.group_create.title'|trans }}</h1>

					{#//TODO : Breadcrumb#}
				</section>

				<section class="group-form">
					{% include 'components/group/group-form.html.twig' with ({
						'group':group,
						'form':form,
						'form_submit':'pages.group.group_create.button',
						'delete':false
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
