{% extends 'base.html.twig' %}

{% block title %}{{ group.name }} - {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__group-index">
		{% if user_group_relation.isMember(app.user, group) %}
			{% include 'contents/group/group--full__member.html.twig' with {'group':group} %}
		{% elseif is_granted(constant('App\\Security\\GroupVoter::READ'), group) %}
			{% include 'contents/group/group--full__read.html.twig' with {'group':group} %}
		{% else %}
			{% include 'contents/group/group--full__restricted.html.twig' with {'group':group} %}
		{% endif %}
	</section>
{% endblock %}
