{% extends 'base.html.twig' %}

{% block title %}{{ group.name }} - {{ plateform.name }}{% endblock %}

{% block body %}
	<section class="group-index">
		{% if is_granted(constant('App\\Security\\GroupVoter::READ'), group) %}
			{% include 'contents/group/group--full.html.twig' with {'group':group} %}
		{% else %}
			{% include 'contents/group/group--full-restricted.html.twig' with {'group':group} %}
		{% endif %}
	</section>
{% endblock %}
