{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.group.group_edit.title'|trans }} - {{ group.name }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="group-header">
					<h1 class="h1">{{ 'pages.group.group_edit.title'|trans }}</h1>

					{% include 'components/breadcrumb.html.twig' with {'items':[
						{
							label: 'pages.group.groups.title'|trans,
							href: path('groups_index')
						},
						{
							label: group.name,
							href: path('group_index', {'groupSlug':group.slug})
						},
						{
							label: 'pages.group.group_edit.title'|trans
						}
					]} %}
				</section>

				<section class="group-form">
					{% include 'forms/group/group-form.html.twig' with ({
						'group':group,
						'form':form,
						'form_submit':'pages.group.group_edit.button',
						'delete':true
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
