{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.group.group_create.title'|trans }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="group-header">
					<h1 class="h1">{{ 'pages.group.group_create.title'|trans }}</h1>

					{% include 'components/breadcrumb.html.twig' with {'items':[
						{
							label: 'pages.group.groups.title'|trans,
							href: path('groups_index')
						},
						{
							label: 'pages.group.group_create.title'|trans
						}
					]} %}
					<p>Vous pouvez demander la création d'un nouveau groupe. Avant de commencer, jetez un oeil à la page <a href="{{ path('group_page_index', { groupSlug: 'plateforme-web', pageSlug: 'qui-peut-creer-des-groupes' }) }}">Pourquoi créer un groupe ?</a></p>
					<p>Votre groupe devra être validé par un administrateur de la communauté avant d'apparaître sur le site.</p>
					<p>&nbsp;</p>
				</section>

				<section class="group-form">
					{% include 'forms/group/group-form.html.twig' with ({
						'group':group,
						'form':form,
						'form_submit':'pages.group.group_create.button',
						'delete':false
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
