{% extends 'base.html.twig' %}

{% block title %}{{ page.title }} - {{ group.name }} - {{ plateform.name }}{% endblock %}

{% block body %}
	<section class="page-index">
		{% if userCanRead %}
			{% include 'contents/page/page--full.html.twig' with {'group':group, 'page':page} %}
		{% else %}
			{% include 'contents/page/page--full-restricted.html.twig' with {'group':group, 'page':page} %}
		{% endif %}
	</section>
{% endblock %}
