<div class="user user__tiny" title="{{ user.displayName }}" style="--color: {{ user.displayName|color }}">
	{% if (user.avatar is defined) and user.avatar %}
		<div class="user--avatar">
			<img src="{{ user.avatar.path | imagine_filter('avatar') }}" alt="">
		</div>
	{% endif %}
	<span class="user--name">{{ user.displayName }}</span>
</div>
