<div class="user user__tiny" title="{{ user.displayName }}" style="--color: {{ user.displayName|color }}">
	{% include 'contents/user/partials/user--avatar.html.twig' with{'user':user} %}
	<span class="user--name">{{ user.displayName }}</span>
</div>
