{% set classes = ['user', 'user__tiny'] %}
<div class="{{ classes|join(' ') }}" title="{{ user.name }}">
	{% if (admin is defined) and admin %}
		<div class="user--admin"><span>{{ 'pages.user.is_admin'|trans }}</span></div>
	{% endif %}

	{% include 'contents/user/partials/user--avatar.html.twig' with{'user':user} %}

	<span class="user--name">{{ user.name }}</span>
</div>
