{% set classes = ['user', 'user__teaser'] %}
<a class="{{ profileLinkClasses(user.status, classes) }}" href="{{ path('member', {'user_id':user.id}) }}">
	{% include 'contents/user/partials/user--avatar.html.twig' with{'user':user} %}

	<div class="user--infos">
		<div class="user--name">{{ user.name }}</div>
		{% if user.presentation is not empty %}
			<div class="user--presentation">{{ user.presentation }}</div>
		{% endif %}
	</div>
</a>
