<a href="{{ path('member', {'user_id':user.id}) }}" class="user user__teaser" style="--color: {{ user.displayName|color }}">
	{% include 'contents/user/partials/user--avatar.html.twig' with{'user':user} %}
	<div class="user--infos">
		<div class="user--name">{{ user.displayName }}</div>
		<div class="user--presentation">{{ user.presentation }}</div>
	</div>
</a>
