{% extends 'base.html.twig' %}

{% block body %}
	<div class="front-page content-container">
		<div class="front-page--header main-presentation narrow">
			{% include 'components/app-flashes.html.twig' %}

			<h1 class="small-title">Bienvenue sur {{ plateform.name }}</h1>

			<p class="is-lead">Échangeons pour adapter la gestion des espaces naturels face au changement climatique</p>

			<p>En savoir plus</p>
		</div>
		<div class="groups-list">
			<ul>
				{% for group in groups %}
					<li>
						{% include 'contents/group/group--teaser.html.twig' with {'group':group} %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
