/**************************************************
 * LOG EVENT
 *************************************************/

.logevent__in-dashboard {
	position:       relative;
	display:        flex;
	flex-flow:      row nowrap;
	flex:           1;

	padding-bottom: rem(80px);

	.user--avatar {
		flex:             0 0 auto;
		width:            rem(50px);
		height:           rem(50px);
		background-color: white;
	}


	.logevent--details {
		margin-left: rem(15px);
	}

	.logevent--title {
		font-size: rem(14px);

		.user--name {
			font-size: (16 / 14) * 1em;
		}
	}

	.logevent--date {
		font-size: rem(13px);
		color:     $color_grey_light;
	}
}
