/**************************************************
* GROUP LIST
**************************************************/

.groups-list {
	@include clearulli;

	ul {
		display:         flex;
		flex-flow:       row wrap;
		justify-content: flex-start;
		align-items:     stretch;
	}

	li {
		flex-basis:  (1 / 3) * 100%;
		flex-grow:   0;
		flex-shrink: 0;
		overflow:    hidden;

		padding:     1rem;
	}
}

.group__teaser {
	display:          flex;
	flex-flow:        column nowrap;
	height:           100%;

	padding:          1rem;

	color:            $color_default;
	background-color: white;
	box-shadow:       0 .6em 1em -.2em rgba($color_default, .25);

	.group-name {
		margin:    0 0 1rem;

		@include font_default;
		font-size: (33 / 20) * 1em;

		a {
			color:           $color_default;
			text-decoration: none;
		}
	}
}
