/**************************************************
* GROUP LIST
**************************************************/

.groups-list {
	@include clearulli;

	> ul {
		@include columns;

		@include medium-or-more {
			justify-content: flex-start;
		}

		> li {
			@include columns_item(1/3);
			@include card_shadow();

			@include medium-or-more {
				&:not(:nth-child(3n+1)) {
					margin-left: column_gap();
				}
			}
		}
	}
}

/**************************************************
* GROUP
**************************************************/

.group {
	--color: $color_grey_light;

	.group-membership__member,
	.group-visibility__private {
		&::before {
			content:           '';
			display:           inline-block;
			width:             rem(16px);
			height:            rem(16px);
			background-repeat: no-repeat;
			background-size:   contain;
		}
	}

	.group-membership__member {
		&::before {
			@import '../../_assets/checked.svg';
		}
	}

	.group-visibility__private {
		&::before {
			@import '../../_assets/lock.svg';
		}
	}
}

/**************************************************
* GROUP TEASER
**************************************************/

.group__teaser {
	position:  relative;

	display:   flex;
	flex-flow: column nowrap;
	height:    100%;

	.group-illustration {
		position:         relative;

		&::before {
			content:        '';
			display:        block;
			padding-bottom: (165 / 292) * 100%;
		}

		background-color: var(--color);

		img {
			position:   absolute;
			top:        0;
			left:       0;
			width:      100%;
			height:     100%;
			object-fit: cover;
		}
	}

	.group-membership__member,
	.group-visibility__private {
		span {
			@include visually-hidden;
		}
	}

	.group-content {
		position:  relative;

		flex-grow: 1;

		display:   flex;
		flex-flow: column nowrap;
		height:    100%;

		padding:   padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}

	.group-logo {
		position:      absolute;
		top:           rem(-20px);
		left:          padding_horizontal('small');
		width:         rem(40px);
		height:        rem(40px);
		border-radius: 50%;
		overflow:      hidden;
	}

	.group-name {
		margin-top: rem(4px);

		@include font_title_bold;

		a {
			color:           $color_default;
			text-decoration: none;
		}
	}

	.group-description {
		$line-height: line_height_default();
		line-height:            $line-height;
		height:                 4 * $line-height * 1em;
		overflow:               hidden;
		text-overflow:          ellipsis;
		text-overflow-ellipsis: "…";
	}

	.group-members {
		margin-top: padding_vertical('small');
	}
}

/**************************************************
* GROUP FULL
**************************************************/

.group__full {
	.main--header__cover {
		min-height: (237 / 375) * 100vw;

		@include medium-or-more {
			min-height: rem(380px);
		}
	}


	.main--header--image {
		background-color: $color_grey_lighter;
		overflow:         hidden;

		img {
			filter:    blur(20px);
			transform: scale(1.1);
		}
	}

	.main--header--content {
		flex-basis: 100%;
	}

	// Group Infos

	.group-infos {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: flex-start;
		align-items:     center;
	}

	.group-logo {
		margin-right:  column_gap();

		width:         rem(150px);
		height:        rem(150px);
		border-radius: 50%;
		overflow:      hidden;

		img {
			display:    block;
			width:      100%;
			height:     100%;
			object-fit: cover;
		}
	}

	.group-status + a {
		margin-top: 1rem;
	}

	.group-visibility__private::before {
		margin-right: .31em;
	}

	// Group Title (member)

	.group-title {
		@include columns;

		> :nth-child(1) {
			@include columns_item(2 / 3)
		}

		> :nth-child(2) {
			@include columns_item(1 / 3);
		}
	}

	.group-edit {
		align-self: flex-end;
		text-align: right;
	}

	// Group Description

	.group-description {
		@include columns;
	}

	.group-description-text {
		@include columns_item(2 / 3)
	}

	.group-join {
		@include columns_item(1 / 3);

		padding: 1rem;
	}

	.main--header + .main--content .group-join {
		@include card_shadow;
	}

	.group-date {
		&::before {
			content: '•';
			margin:  0 .31em;
		}
	}

	.group-join--action {
		margin-bottom:  padding_vertical();
		padding-bottom: padding_vertical();
		border-bottom:  1px solid $color_grey_lighter;

		.member {
			@include cta-style($color_action, true);
			width: 100%;
		}

		a {
			@include cta-style;
			width: 100%;
		}
	}

	.group-apps {
		@include columns;

		@include medium-or-more {
			justify-content: flex-start;
		}
	}

	.group-app {
		display:   flex;
		flex-flow: column nowrap;

		@include columns_item(1/3);
		@include card_shadow();

		@include medium-or-more {
			&:not(:nth-child(3n+1)) {
				margin-left: column_gap();
			}
		}

		padding:   1rem;

		a {
			text-decoration: none;
		}

		h2 {
			@include clearfloat;
		}

		.count {
			float:     right;

			font-size: rem(16px);
			color:     $color_grey_neutral;
		}

		> ul {
			flex-grow: 1;
		}

		.see-all {
			margin-top: .5em;

			text-align: center;

			font-size:  rem(16px);

			color:      $color_action;
		}
	}

	.create-new {
		flex-grow:  1;
		display:    flex;

		text-align: center;

		> div {
			margin: auto;
		}

		.hint {
		}

		a {
			@include cta-style;
		}
	}
}

/**************************************************
* GROUP COMPONENTS
**************************************************/

.group-members__tiny {
	@include clearulli;

	ul {
		display: inline;
	}

	li {
		display: inline-block;
	}

	.members-count {
		display:          inline-block;

		padding:          0 .5em;

		&::before {
			content: '+';
		}

		background-color: $color_grey_light;
		border-radius:    line_height_default() * .5em;
	}
}

.group-restricted {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	> :nth-child(1) {
		@include card_shadow;

		display:      flex;
		width:        rem(100px);
		height:       rem(100px);
		flex-grow:    0;
		flex-shrink:  0;

		margin-right: padding_horizontal();

		svg {
			margin: auto;
		}
	}
}
