/**************************************************
* GROUP LIST
**************************************************/

.groups-list {
	@include clearulli;

	> ul {
		@include cards-container;

		> li {
			@include card;
		}
	}
}

/**************************************************
* GROUP
**************************************************/

.group {
	--color: $color_grey_light;

	.group-illustration {
		&::before {
			content:        '';
			display:        block;
			padding-bottom: (9 / 16) * 100%;
		}

		background-color: var(--color);
	}

	.group-visibility__private {
		&::before {
			content: '🔒';
		}
	}
}

/**************************************************
* GROUP TEASER
**************************************************/

.group__teaser {
	position:  relative;

	display:   flex;
	flex-flow: column nowrap;
	height:    100%;

	.group-visibility {
		position: absolute;
		top:      padding_vertical();
		right:    padding_horizontal();

		span {
			position: absolute;
			left:     -99999px;
		}
	}

	.group-visibility__private::before {
		position: absolute;
		top:      0;
		right:    0;
	}

	.group-content {
		flex-grow: 1;

		display:   flex;
		flex-flow: column nowrap;
		height:    100%;

		padding:   padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}

	.group-name {
		margin:    0 0 1rem;

		@include font_default;
		font-size: (33 / 20) * 1em;

		a {
			color:           $color_default;
			text-decoration: none;
		}
	}

	.group-description {
		flex-grow: 1;
	}

	.group-members {
		margin-top: padding_vertical('small');
	}
}

/**************************************************
* GROUP FULL
**************************************************/

.group__full {
	.group-header {
		position:       relative;
		padding-bottom: first_content_padding('small');

		@include large-or-more {
			padding-bottom: first_content_padding('large');
		}

		overflow:       hidden;
	}

	.group-illustration {
		position: absolute;
		top:      0;
		right:    0;
		bottom:   0;
		left:     0;
		z-index:  -1;
	}

	.group-visibility__private::before {
		margin-right: .31em;
	}

	.group-infos {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: flex-start;
		align-items:     flex-start;
	}

	.group-date {
		&::before {
			content: '•';
			margin:  0 .31em;
		}
	}

	.group-description {
		margin:    0 column_gap() padding_vertical() 0;
		flex-grow: 1;

		padding:   1rem 0;
	}

	.group-join {
		margin:      (-1 * padding_vertical()) 0 padding_vertical();
		flex-basis:  calc(#{(1 / 3) * 100%} - #{(2 / 3) * column_gap()});
		flex-grow:   0;
		flex-shrink: 0;

		@include card_shadow;

		padding:     1rem;
	}

	.group-join--action {
		margin-bottom:  padding_vertical();
		padding-bottom: padding_vertical();
		border-bottom:  1px solid $color_grey_lighter;

		a {
			@include cta-style($color_dodger_blue);
			width: 100%;
		}
	}

	.group-apps {
		@include cards-container;
	}

	.group-app {
		@include card;

		padding: 1rem;

		h2 {
			margin:      0 0 1rem;

			@include font_default_bold;

			font-size:   font_size_default();

			@include large-or-more {
				font-size: font_size_default('large');
			}

			line-height: line_height_default();
		}
	}
}

/**************************************************
* GROUP COMPONENTS
**************************************************/

.group-members__tiny {
	@include clearulli;

	ul {
		display: inline;
	}

	li {
		display: inline-block;
	}

	.members-count {
		display:          inline-block;

		padding:          0 .5em;

		&::before {
			content: '+';
		}

		background-color: $color_grey_light;
		border-radius:    line_height_default() * .5em;
	}
}
