/**************************************************
* GROUP LIST
**************************************************/

@use "sass:math";

.groups-list {
	@include clearulli;

	> ul {
		@include columns;

		@include medium-or-more {
			justify-content: flex-start;
		}

		> li {
			@include columns_item(math.div(1, 3));

			@include medium-or-more {
				&:not(:nth-child(3n+1)) {
					margin-left: column_gap();
				}
			}
		}
	}
}

.my-groups-list {
	@include clearulli(true);

	> li:not(:last-child) {
		margin-bottom: column_gap();
	}
}

.group-search-bar{
	padding: 2.5rem 0 2.5rem 0;
	display: flex;
	justify-content: center;
	input {
		width: 645px;
		display: inline-block;
	}
}

/**************************************************
* GROUP
**************************************************/

.group {
	--color: $color_grey_light;

	.group-membership__member,
	.group-visibility__private {
		&::before {
			content:           '';
			display:           inline-block;
			width:             rem(16px);
			height:            rem(16px);
			background-repeat: no-repeat;
			background-size:   contain;
		}
	}

	.group-membership__member {
		&::before {
			@import '../../_assets/checked.svg';
		}
	}

	.group-visibility__private {
		&::before {
			@import '../../_assets/lock.svg';
		}
	}

	.group-logo {
		border-radius: 50%;
		flex-grow:     0;
		flex-shrink:   0;
		overflow:      hidden;

		img {
			display:    block;
			object-fit: cover;
			width:      100%;
			height:     100%;
		}
	}

	.group-members {
		position: relative;
		display:  block;
	}
}

/**************************************************
* GROUP TEASER
**************************************************/

.group__teaser {
	position:   relative;
	@include card_shadow();

	display:    flex;
	flex-flow:  column nowrap;
	height:     100%;

	a::after {
		content:  '';
		position: absolute;
		z-index:  1;
		top:      0;
		right:    0;
		bottom:   0;
		left:     0;
	}

	transition: box-shadow .15s ease-in-out;

	&:focus,
	&:hover {
		box-shadow: 0 .15rem 1rem rgba($color_default, .25);
	}

	&:focus-within {
		box-shadow: 0 .15rem 1rem rgba($color_default, .25);
	}

	.group-illustration {
		position:         relative;

		&::before {
			content:        '';
			display:        block;
			padding-bottom: math.div(165, 292) * 100%;
		}

		background-color: var(--color);

		img {
			position:   absolute;
			top:        0;
			left:       0;
			width:      100%;
			height:     100%;
			object-fit: cover;
		}
	}

	.group-membership__member,
	.group-visibility__private {
		span {
			@include visually-hidden;
		}
	}

	.group-content {
		flex-grow:       1;

		display:         flex;
		flex-flow:       column nowrap;
		justify-content: flex-start;

		padding:         padding_vertical('small') padding_horizontal('small');

		em {
			background-color: #FFFFAF;
		}

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}

	.group-logo {
		position:   absolute;
		margin-top: - padding_vertical('large') - rem(20px);
		left:       padding_horizontal('small');
		width:      rem(40px);
		height:     rem(40px);
	}

	.group-name {
		margin-top: rem(4px);

		flex-grow:  1;

		@include font_title_bold;

		a {
			color:           $color_default;
			text-decoration: none;
		}
	}

	.group-description {
		display:            -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		text-overflow:      ellipsis;

		line-height:        line_height_default();
		height:             4 * line_height_default() * 1em;

		@include medium-or-more {
			line-height: line_height_default('large');
			height:      4 * line_height_default('large') * 1em;
		}

		overflow:           hidden;
	}

	.group-members {
		margin-top:      padding_vertical('small');

		text-decoration: none;
	}
}

/**************************************************
* GROUP FULL
**************************************************/

.group__full {
	.main--header__cover {
		min-height: math.div(237, 375) * 100vw;

		@include medium-or-more {
			min-height: rem(380px);
		}
	}


	.main--header--image {
		background-color: $color_grey_dark;
		overflow:         hidden;

		img {
			filter:    blur(20px);
			opacity:   0.7;
			transform: scale(1.1);
		}
	}

	.main--header--content {
		flex-basis: 100%;
	}

	// Group Infos

	.group-infos {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: flex-start;
		align-items:     center;
	}

	.group-logo {
		margin-right: padding_horizontal('small');
		width:        rem(80px);
		height:       rem(80px);

		@include medium-or-more {
			margin-right: column_gap();
			width:        rem(150px);
			height:       rem(150px);
		}
	}

	.group-status {
		@include small-or-less {
			font-size: math.div(12, 16) * 1em;
		}
		@include font_helvetica;

		margin: 	0;
		font-weight: 	lighter;
	}

	.group-status + a {
		margin-top: 1rem;
	}

	.group-visibility__private::before {
		margin-right: .31em;
	}

	// Group Description

	.group-description {
		@include columns;

		&:not(#important) {
			align-items: flex-start;
		}
	}

	.group-description-text {
		@include columns_item(math.div(2, 3))
	}

	.group-join {
		@include columns_item(math.div(1, 3));

		padding: 1rem;
	}

	.group-activate {
		@extend .group-join;
	}

	.main--header + .main--content .group-join {
		@include card_shadow;
	}

	.group-date {
		&::before {
			content: '•';
			margin:  0 .31em;
		}
	}

	.group-member-status {
		position:       relative;
		z-index:        2;

		margin-bottom:  padding_vertical();
		padding-bottom: padding_vertical();
		border-bottom:  1px solid $color_grey_border;
	}

	.group-activate-actions {
		@extend .group-member-status;
		display:        flex;
		flex-direction: column;

		a:not(:first-of-type) {
			margin-top: 0.5rem;
		}
	}

	.group-tabs {
		margin-bottom: rem(40px);

		@include clearulli;

		ul {
			display:         flex;
			flex-flow:       row nowrap;
			justify-content: space-between;
			align-items:     flex-start;
		}

		a {
			display:         block;
			padding:         rem(10px) 0;

			text-decoration: none;

			@include font_default_bold;
			font-size:       font_size_default();
			color:           $color_default;

			border-bottom:   3px solid transparent;
		}

		.active a {
			color:        $color_aubergine;
			border-color: $color_aubergine;
		}

	}

	.group-search-bar{
		width: 100%;

		&::placeholder {
			@include font_helvetica;
			color: #6A6A6A;
		}
	}


	.group-events {
		position: relative;

		@include clearulli;

		@include large-or-more {
			max-width: math.div(2, 3) * 100%;
			margin:    0 auto;
		}

		&::before {
			content:     '';
			position:    absolute;
			top:         0;
			bottom:      0;
			left:        rem(24px);
			border-left: 1px solid #DBDEE4;
		}
	}

	.group-apps {
		@include font_helvetica;
		@include columns;

		@include medium-or-more {
			justify-content: flex-start;
		}
	}

	.group-app {
		display:   flex;
		flex-flow: column nowrap;

		@include columns_item(math.div(1, 3));
		@include card_shadow();

		@include medium-or-more {
			min-height: rem(385px);

			&:not(:nth-child(3n+1)) {
				margin-left: column_gap();
			}
		}

		padding:   1rem;

		a {
			text-decoration: none;
		}

		h2 {
			@include clearfloat;
			padding-bottom:	rem(30px);
			border-bottom:	1px solid $color_grey_border;
			margin:		0;
		}

		.count {
			float:     right;

			font-size: rem(16px);
			color:     $color_grey_light;
		}

		> ul {
			flex-grow: 1;
		}

		.see-all {
			margin-top: .5em;

			text-align: center;

			font-size:  	rem(16px);
			font-weight: 	bold;

			color:      	$color_aubergine;

		}
	}

	.create-new {
		flex-grow:  1;
		display:    flex;

		text-align: center;

		> div {
			margin: auto;
		}

		.hint {
		}

		a {
			@include cta-style;
		}
	}
}

/**************************************************
* GROUP ON USER DASHBOARD
**************************************************/

.group__in-items-list {
	position:        relative;
	display:         block;
	padding:         rem(14px) 0;
	border-bottom:   1px solid $color_grey_border;

	text-decoration: none;

	&::after {
		content:      '';
		position:     absolute;
		top:          50%;
		right:        0;
		width:        rem(10px);
		height:       rem(10px);
		border-top:   2px solid $color_aubergine;
		border-right: 2px solid $color_aubergine;
		transform:    translate(#{rem(-10px)}, -50%) rotate(45deg);
		transition:   transform .25s ease;
	}

	.group-name {
		@include font_default_bold;
		font-size: rem(16px);
		color:     black;
	}

	.group-last-activity {
		@include font_default;
		font-size: rem(14px);
		color:     $color_grey_neutral;
	}

	&:focus,
	&:hover {
		.group-name {
			text-decoration: underline;
		}

		&::after {
			transform: translate(#{rem(-5px)}, -50%) rotate(45deg);
		}
	}
}

/**************************************************
* GROUP ON MY GROUPS
**************************************************/

.group__in-my-groups {
	display:         flex;

	flex-flow:       row wrap;

	@include medium-or-more {
		flex-flow: row nowrap;
	}

	justify-content: space-between;
	align-items:     center;

	.group-logo {
		@include small-or-less {
			margin-right:  padding_horizontal('small');
			margin-bottom: padding_vertical('small');
			width:         rem(40px);
			height:        rem(40px);
		}

		@include medium-or-more {
			margin-right: column_gap();
			width:        rem(80px);
			height:       rem(80px);
		}
	}

	.group-content {
		flex: 1;

		@include small-or-less {
			margin-bottom: padding_vertical('small');
		}
	}

	.group-name {
		@include font_default_bold;
		margin: 0;

		@include small-or-less {
			font-size: rem(18px);
		}

		a {
			text-decoration: none;
		}
	}

	.group-description {
		font-size: rem(14px);
		color:     $color_grey_medium;
	}

	.group-member-status {
		@include small-or-less {
			flex:      0 0 100%;
			width:     100%;
			max-width: 100%;
		}

		@include medium-or-more {
			margin-left: column_gap();
			width:       rem(180px);
		}
	}
}

/**************************************************
* GROUP COMPONENTS
**************************************************/

.group-members__tiny {
	@include clearulli;

	ul {
		display:        inline-block;
		vertical-align: middle;
	}

	li {
		display:        inline-block;
		vertical-align: middle;
	}

	.members-count {
		display:        inline-block;
		vertical-align: middle;

		margin-left:    .31em;

		@include font_title_bold;
		font-size:      rem(14px);

		&::before {
			content: '+';
		}

		color:          $color_grey_neutral;
	}
}

.group-restricted {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	> :nth-child(1) {
		@include card_shadow;

		display:      flex;
		width:        rem(100px);
		height:       rem(100px);
		flex-grow:    0;
		flex-shrink:  0;

		margin-right: padding_horizontal();

		svg {
			margin: auto;
		}
	}
}


.group-member-status {
	.member {
		@include cta-style($color_aubergine, true);
		width:         100%;
		padding-left:  0;
		padding-right: 0;
		white-space:   nowrap;
	}

	.join {
		@include cta-style();
		width: 100%;
	}

	.banned,
	.pending {
		@include cta-style($color_aubergine, true);
		width: 100%;
	}

	&--selector {
		position: relative;

		@include clearulli();

		[data-toggle-element] {
			&::before {
				content:             '';
				display:             inline-block;
				vertical-align:      baseline;
				width:               rem(7px);
				height:              rem(12px);
				margin-right:        .5em;
				margin-bottom:       rem(-1px);

				@include picto-arrow($color_aubergine, 7, 12, 2);
				background-repeat:   no-repeat;
				background-position: center;

				transform:           rotate(-90deg);
			}

			&:focus,
			&:hover {
				&::before {
					@include picto-arrow(#ffffff, 7, 12, 2);
				}
			}
		}

		.choices {
			position: absolute;
			top:      100%;
			left:     0;
			right:    0;
			@include card_shadow;

			a {
				display:         block;
				padding:         1rem;

				text-decoration: none;

				&:focus,
				&:hover {
					background-color: $color_grey_lighter;
				}
			}

			li:not(:last-child) a {
				&::after {
					content:       '';
					display:       block;
					position:      relative;
					top:           1rem;
					border-bottom: 1px solid $color_grey_lighter;
				}
			}

			.title {
				display:   block;
				@include font_default_bold;
				font-size: rem(16px);
			}

			li.active .title {
				&::before {
					content:        '';
					display:        inline-block;
					vertical-align: baseline;
					margin-right:   .5em;
					margin-bottom:  .25em;
					width:          .8em;
					height:         .5em;
					border-left:    2px solid $color_aubergine;
					border-bottom:  2px solid $color_aubergine;
					transform:      rotate(-45deg);
				}
			}

			.title__warning {
				color: $color_orange_red;
			}

			.description {
				display:   block;
				font-size: rem(14px);
				color:     $color_grey_neutral;
			}
		}

		&[aria-expanded="true"] {
			z-index: 1;
		}

		&:not([aria-expanded="true"]) {
			[data-toggle-element] {
				&::before {
					transform: rotate(90deg);
				}
			}

			.choices {
				display: none;
			}
		}
	}
}
