/**************************************************
 * GROUPS INDEX PAGE
 *************************************************/

.main__groups-index {
	.main--header--image {
		img {
			opacity: .6;
		}
	}
}

/**************************************************
 * GROUP PAGES
 *************************************************/

.main__group-page__edit {
	.group-form {
		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		@include card_shadow;
	}

	.form-row__file {
		margin-top: rem(27px);
	}

	.form-row__file__logo {
		.file-preview--img {
			width:         rem(110px);
			height:        rem(110px);
			border-radius: 50%;
		}
	}

	.form-row__file__cover {
		.file-preview--img {
			width:  rem(138px);
			height: rem(110px);
		}
	}

	.wysiwyg {
		textarea,
		.ck-editor__editable_inline {
			min-height: rem(500px);
		}
	}
}
