<div class="group-document group-document__teaser" data-type="{{ document.file.type }}">
	<a href="{{ path('group_document_get', {'groupSlug': file.usergroup.slug, 'documentSlug': document.slug}) }}">{{ document.file.name }}</a>
</div>
