{% set classes = ['document', 'document__in-items-list'] %}
<a class="{{ classes|join(' ') }}" data-type="{{ document.file.type }}" href="{{ path('group_document_get', {'groupSlug': document.usergroup.slug, 'documentId': document.id}) }}">
	<span>{{ document.title }}</span>
</a>
