{{ ('logevents.' ~ (logEvent.type|replace({':': '_'})))|trans|format(
	'<a class="' ~ profileLinkClasses(logEvent.user.status) ~ '" href="' ~ url_manager.userUrlFromId(logEvent.user.id) ~ '">' ~ logEvent.user.name ~ '</a>',
	'<a class="group--name" href="' ~ url_manager.usergroupUrlFromId(logEvent.usergroup.id) ~ '">' ~ logEvent.usergroup.name ~ '</a>'
)|raw }}
