{% extends 'base.html.twig' %}

{% block main %}
	<div class="member-page member-page__view">
		<div class="member-page--header main--header">
			<div class="content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="member-page--content content-container">
			{% include 'contents/user/user--profile.html.twig' %}
		</div>
	</div>
{% endblock %}
