{% extends 'base.html.twig' %}

{% block body %}
	<div class="member-page member-page__view">
		<div class="member-page--header main-presentation">
			<div class="content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="member-page--content content-container">
			<div class="user--avatar">
				{% if (user.avatar is defined) and user.avatar %}
					<img src="{{ user.avatar.path | imagine_filter('avatar') }}" alt="">
				{% else %}
					<img src="{{ path('member_default_avatar') }}" alt="">
				{% endif %}
			</div>
			<h1 class="h2">{{ user.displayName }}</h1>
		</div>
	</div>
{% endblock %}
