{% set classes = ['group', 'group__full'] %}
<div class="{{ classes|join(' ') }}" style="--color: {{ group.name|color }}">
	{% set hasCover = (group.cover is defined) and (group.cover is not empty) %}
	<div class="main--header {{ hasCover ? 'main--header__cover' : 'main--header__no-cover' }}">
		{% if hasCover %}
			<div class="main--header--image">
				<img src="{{ group.cover.path | imagine_filter('cover') }}" alt="">
			</div>
		{% endif %}

		<div class="main--header--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			{% include 'contents/group/partials/group-infos.html.twig' with {'group':group} %}
		</div>
	</div>

	<div class="main--content content-container">
		{% include 'contents/group/partials/group-description.html.twig' with {'group':group} %}

		{% include 'contents/group/partials/group-apps.html.twig' with {'group':group} %}
	</div>
</div>
