<div class="group group__teaser">
	<h2 class="group-name"><a href="{{ path('group_index', {'groupSlug': group.slug}) }}">{{ group.name }}</a></h2>
	<div class="group-description">
		{{ group.description }}
	</div>
</div>
