{% set classes = ['group', 'group__full'] %}
<div class="{{ classes|join(' ') }}">
	<div class="main--content content-container">
		{% include 'components/app-flashes.html.twig' %}

		<div class="panel">
			{% include 'contents/group/partials/group-infos.html.twig' with {'group':group} %}

			{% if is_granted(constant('App\\Security\\GroupVoter::EDIT'), group) %}
				<div class="panel--edit">
					<a class="cta__inverted" href="{{ path('group_edit', {'groupSlug':group.slug}) }}">{{ 'pages.group.group_edit.link'|trans }}</a>
				</div>
			{% else %}
				<div class="group-join">
					{% include 'contents/group/partials/group-join-button.html.twig' with {'group':group} %}
					{% include 'contents/group/partials/group-members--tiny.html.twig' with {'group':group} %}
				</div>
			{% endif %}
		</div>

		{% include 'contents/group/partials/group-apps.html.twig' with {'group':group} %}
	</div>
</div>
