<div class="group group__full" style="--color: {{ group.name|color }}">
	{% include 'contents/group/partials/group--full--header.html.twig' with {'group':group} %}

	<div class="group-infos content-container">
		<div class="group-description">
			{{ group.description }}
		</div>
		<div class="group-join">
			{% include 'components/group/group-join-button.html.twig' with {'group':group} %}
			{% include 'components/group/group-members--tiny.html.twig' with {'members':group.members} %}
		</div>
	</div>
	<div class="content-container">
		<div class="group-restricted">
			<p class="group-restricted--title">{{ 'pages.group.restricted.title'|trans }}</p>
			<p>{{ 'pages.group.restricted.body'|trans }}</p>
		</div>
	</div>
</div>
