{% set hasAvatar = (user.avatar is defined) and user.avatar %}
<div class="user--avatar{% if not hasAvatar %} user--avatar__empty{% endif %}" {% if not hasAvatar %}style="--color: {{ user.name|color }}"{% endif %}>
	{% if filter is not defined %}
		{% set filter = 'avatar' %}
	{% endif %}
	{% if hasAvatar %}
		<img src="{{ user.avatar.path | imagine_filter(filter) }}" alt="">
	{% else %}
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
			<use xlink:href="#user"/>
		</svg>
	{% endif %}
</div>
