<div class="group-restricted">
	<div>
		<svg xmlns="http://www.w3.org/2000/svg" width="26.25" height="30" viewBox="0 0 26.25 30">
			<path d="M13.125-2.109A1.59,1.59,0,0,0,14.3-2.578a1.59,1.59,0,0,0,.469-1.172V-7.5A1.59,1.59,0,0,0,14.3-8.672a1.59,1.59,0,0,0-1.172-.469,1.59,1.59,0,0,0-1.172.469A1.59,1.59,0,0,0,11.484-7.5v3.75a1.59,1.59,0,0,0,.469,1.172A1.59,1.59,0,0,0,13.125-2.109ZM26.25-12.187a2.712,2.712,0,0,0-.82-1.992A2.712,2.712,0,0,0,23.437-15H21.562v-2.754A8.3,8.3,0,0,0,20.42-22a8.528,8.528,0,0,0-3.076-3.105,8.144,8.144,0,0,0-4.219-1.143,8.144,8.144,0,0,0-4.219,1.143A8.6,8.6,0,0,0,5.83-22.031a8.144,8.144,0,0,0-1.143,4.219V-15H2.812a2.712,2.712,0,0,0-1.992.82A2.712,2.712,0,0,0,0-12.187V.937A2.712,2.712,0,0,0,.82,2.93a2.712,2.712,0,0,0,1.992.82H23.437a2.712,2.712,0,0,0,1.992-.82A2.712,2.712,0,0,0,26.25.937ZM7.5-15v-2.812A5.425,5.425,0,0,1,9.141-21.8a5.425,5.425,0,0,1,3.984-1.641A5.425,5.425,0,0,1,17.109-21.8a5.425,5.425,0,0,1,1.641,3.984V-15Zm15.937,2.812V.937H2.812V-12.187Z" transform="translate(0 26.25)" fill="#9b9b9b"/>
		</svg>
	</div>
	<div>
		<h3 class="h3">{{ 'pages.group.restricted.title'|trans }}</h3>
		<p>{{ 'pages.group.restricted.body'|trans }}</p>
	</div>
</div>
