/**************************************************
* PAGES LIST
**************************************************/

.main__pages-index {
	// Group Title (member)

	.pages-title {
		@include columns;

		> :nth-child(1) {
			@include columns_item(2 / 3, false)
		}

		> :nth-child(2) {
			@include columns_item(1 / 3, false);
		}
	}

	.page-edit {
		align-self: flex-end;
		text-align: right;
	}

	.pages-list {
		@include clearulli;
	}
}

/**************************************************
* PAGE
**************************************************/

.page {
	--color: $color_grey_light;
}

/**************************************************
* PAGE LIST
**************************************************/

.page__teaser {
	@include font_default_bold;
}

/**************************************************
* PAGE FULL
**************************************************/

.page__full {
	.main--header__cover {
		min-height: (237 / 375) * 100vw;

		@include medium-or-more {
			min-height: rem(380px);
		}
	}

	.main--header--image {
		background-color: $color_grey_lighter;
		overflow:         hidden;

		img {
			filter:    blur(20px);
			transform: scale(1.1);
		}
	}

	.main--header--content {
		flex-basis: 100%;
	}

	.page-title {
		.page-group a {
			color:           inherit;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.main--content {
		display:   flex;
		flex-flow: row nowrap;

		.page-infos {
			flex-basis:   (1 / 7) * 100%;
			flex-grow:    0;
			flex-shrink:  0;
			margin-right: column_gap();
		}

		.page-body {
			flex-grow: 1;
		}

		.page-group {
			flex-basis:  (1 / 7) * 100%;
			flex-grow:   0;
			flex-shrink: 0;
			margin-left: column_gap();
		}
	}

	.page-author {
		margin-bottom:  rem(10px);
		padding-bottom: rem(10px);
		border-bottom:  1px solid $color_grey_border;

		.user {
			display:         block;
			text-decoration: none;
		}

		.user--avatar {
			width:         rem(50px);
			height:        rem(50px);

			margin-bottom: .5rem;
		}

		.user--name {
			@include font_default_bold;

			font-size: rem(16px);
			color:     initial;
		}

		.user--presentation {
			font-size: rem(14px);
			color:     $color_grey_neutral;
		}
	}

	.page-date {
		margin-bottom: column_gap();

		font-size:     rem(14px);
		color:         $color_grey_neutral;
	}

	.page-edit {
		a {
			width:         100%;
			padding-left:  .5em;
			padding-right: .5em;
		}
	}

	.group-name {
		@include font_default_bold;

		font-size: rem(16px);
		color:     initial;
	}

	.group-members {
		font-size: rem(14px);
		color:     $color_grey_neutral;
	}

	.group-pages {
		margin-top: column_gap();

		@include clearulli;

		li {
			margin-bottom: 1rem;

			font-size:     rem(14px);
		}

		a {
			@include font_default;

			color:           $color_action;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.group-pages--title {
		margin-bottom:  rem(10px);
		padding-bottom: rem(10px);
		border-bottom:  1px solid $color_grey_border;

		font-size:      rem(14px);
		color:          $color_grey_neutral;

		text-transform: uppercase;
	}

	.group-join--action {
		.member {
			display: none;
		}
	}
}
