/**************************************************
* PAGES LIST
**************************************************/

@use "sass:math";

.main__pages-index {
	.pages-list {
		@include clearulli;
	}
}

/**************************************************
* PAGE
**************************************************/

.page {
	--color: $color_grey_light;
}

/**************************************************
* PAGE IN ITEMS LIST
**************************************************/

.page__in-items-list {
	@include font_default_bold;
}

/**************************************************
* PAGE IN PAGES LIST
**************************************************/

.page__teaser {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     flex-start;
	width:           100%;

	padding:         padding_vertical() padding_horizontal();

	font-size:       rem(16px);
	color:           inherit;
	text-decoration: none;

	border-bottom:   1px solid $color_grey_border;

	&:focus,
	&:hover {
		background-color: rgba(white, .6);
	}

	.page-cover {
		flex-shrink:  0;
		width:        rem(.5 * 480px);
		margin-right: padding_horizontal();
	}

	.page-body {
		display:            -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		text-overflow:      ellipsis;

		height:             5 * line_height_default() * 1em;
		line-height:        line_height_default();

		@include medium-or-more {
			height:      5 * line_height_default('large') * 1em;
			line-height: line_height_default('large');
		}

		overflow:           hidden;

		p {
			margin: 0;
		}
	}
}

/**************************************************
* PAGE FULL
**************************************************/

.page__full {
	.main--header__cover {
		min-height: math.div(237, 375) * 100vw;

		@include medium-or-more {
			min-height: rem(380px);
		}
	}

	.main--header__no-cover {
		.main--header--content {
			padding-bottom: 0;
		}

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	.main--header--image {
		background-color: $color_grey_lighter;
		overflow:         hidden;

		img {
			filter:    blur(20px);
			transform: scale(1.1);
		}
	}

	.main--header--content {
		flex-basis: 100%;
	}

	.page-title {
		.page-group a {
			color:           inherit;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.main--content {
		@include medium-or-less {
			display:   flex;
			flex-flow: column nowrap;

			.page-group {
				order: 1;
			}

			.page-infos {
				order: 2;
			}

			.page-body {
				order: 3;
			}

			.group-pages {
				order: 4;
			}
		}

		@include large-or-more {
			display:               grid;
			grid-template-rows:    auto 1fr;
			grid-template-columns: 1fr 5fr 1fr;
			grid-row-gap:          column_gap();
			grid-column-gap:       column_gap();

			.page-infos {
				grid-row:    span 2;
				grid-column: 1;
			}

			.page-body {
				grid-row:    span 2;
				grid-column: 2;
			}

			.page-group {
				grid-column: 3;
			}

			.group-pages {
				grid-column: 3;
			}
		}
	}

	.page-author {
		margin-bottom:  rem(10px);
		padding-bottom: rem(10px);
		border-bottom:  1px solid $color_grey_border;

		.user {
			text-decoration: none;

			@include medium-or-less {
				display:   flex;
				flex-flow: row nowrap;
			}

			@include large-or-more {
				display: block;
			}
		}

		.user--avatar {
			flex:          0 0 auto;
			width:         rem(50px);
			height:        rem(50px);

			margin-bottom: .5rem;
		}

		.user--name {
			@include font_default_bold;

			font-size: rem(16px);
			color:     initial;
		}

		.user--presentation {
			font-size: rem(14px);
			color:     $color_grey_neutral;
		}
	}

	.page-date {
		margin-bottom: padding_vertical();
		font-size:     rem(14px);
		color:         $color_grey_neutral;
	}

	.panel--edit {
		a {
			width:         100%;
			padding-left:  .5em;
			padding-right: .5em;
		}
	}

	.page-body,
	.page-infos,
	.page-group {
		@include medium-or-less {
			margin-bottom: column_gap();
		}
	}

	.page-group {
		@include small-or-less {
			display: flex;
			flex:    1;

			.group-logo {
				width:        rem(80px);
				flex:         0 0 auto;
				margin-right: padding_horizontal('small');
			}

			.group-member-status {
				margin-top: rem(10px);
			}
		}
	}

	.group-name {
		@include font_default_bold;

		font-size: rem(16px);
		color:     initial;
	}

	.group-members {
		font-size: rem(14px);
		color:     $color_grey_neutral;
	}

	.group-pages {
		@include clearulli;

		li {
			margin-bottom: 1rem;

			font-size:     rem(14px);
		}

		a {
			@include font_default;

			color:           $color_aubergine;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.group-pages--title {
		margin-bottom:  rem(10px);
		padding-bottom: rem(10px);
		border-bottom:  1px solid $color_grey_border;

		font-size:      rem(14px);
		color:          $color_grey_neutral;

		text-transform: uppercase;
	}

	.group-member-status {
		margin-top: padding_vertical();
	}
}
