/**************************************************
* AUTOCOMPLETE TAGS
**************************************************/

.checkboxes-autocomplete[data-autocomplete="true"] {
	input[tabIndex="-1"],
	label[aria-hidden="true"] {
		position:   absolute;
		margin:     0;
		padding:    0;
		width:      0;
		height:     0;
		overflow:   hidden;
		visibility: hidden;
	}
}

label.autocomplete-tags {
	@include input-style;

	margin-top:    	rem(10px);
	padding-bottom: 0 !important;
	display:        block;
	@include clearfloat;

	.awesomplete,
	.algolia-autocomplete {
		float:         left;

		margin-top:    .1rem;
		margin-bottom: .5rem;

		input {
			margin:  0;
			padding: 0;
			width:   100%;
			border:  0;
			outline: none;
		}
	}
}

.algolia-autocomplete {
	.aa-input, .aa-hint {
		width: 100%;
	}

	.aa-hint {
		color: #999;
	}

	.aa-dropdown-menu {
		width:            100%;
		background-color: white;
		border:           1px solid $color_grey_border;

		.aa-suggestion {
			cursor:  pointer;
			padding: rem(5px) rem(4px);
		}

		.aa-suggestion.aa-cursor {
			background-color: #B2D7FF;
		}

		.aa-suggestion em {
			@include font_default_bold;
		}
	}
}
