/**************************************************
* BREADCRUMB
**************************************************/

.breadcrumb {
	margin:        0 0 column_gap();
	padding:       0 0 0 padding_vertical();

	@include clearulli;

	@include small-or-less {
		font-size: rem(13px);
	}

	@include medium-or-more {
		font-size: rem(16px);
	}

	li {
		display: inline-block;
	}

	li:not(:first-child) {
		&::before {
			content:      '>';
			margin-left:  .5em;
			margin-right: .5em;
			color:        $color_aubergine;
		}
	}

	span {
		color: $color_grey_neutral;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}

		span {
			color: $color_default;
		}
	}
}

.main--header__cover .breadcrumb {

	span {
		color:   white;
		opacity: .5;
	}

	li::before,
	a span {
		color:   white;
		opacity: 1;
	}
}
