/**************************************************
 * IFRAME
 **************************************************/

@use "sass:math";

.wysiwyg-content figure.media {
	height: 0;
	overflow: hidden;
	padding-top: math.div(360px, 640px) * 100%;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
