/**************************************************
* TAGS
**************************************************/

.tags {
	.tag {
		float:            left;

		display:          flex;
		flex-flow:        row nowrap;
		align-items:      center;

		margin-right:     .5em;
		margin-bottom:    .5rem;
		padding:          .5em 1em;
		font-size:        rem(12px);

		color:            $color_aubergine;
		background-color: $color_grey_lighter;
		border-radius:    2em;

		button {
			position:      relative;
			margin-bottom: .1em;
			margin-left:   .5em;

			width:         rem(10px);
			height:        rem(10px);
			border:        1px solid $color_aubergine;
			border-radius: rem(5px);

			&::before,
			&::after {
				content:    '';
				position:   absolute;
				top:        50%;
				left:       50%;
				width:      80%;
				height:     0;
				border-top: 1px solid $color_aubergine;
			}

			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}

ul.tags {
	@include clearulli(true);
	@include clearfloat;
}
