{% extends 'base.html.twig' %}

{% block body %}
	<div class="user-page user-page__dashboard">
		<div class="user-page--header main-presentation">
			<div class="content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="user-page--content content-container">
			Your dashboard
		</div>
	</div>
{% endblock %}
