{% extends 'base.html.twig' %}

{% block body %}
	<div class="user-page user-page__dashboard">
		<div class="user-page--header main-presentation">
			<div class="content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="user-page--content content-container">
			<div class="small-title">{{ 'pages.user.dashboard.welcome'|trans }}</div>
			<div class="h2">{{ 'pages.user.dashboard.hello'|trans|format(app.user.displayName) }}</div>
			<div class="h3">{{ 'pages.user.dashboard.slogan'|trans|format(plateform.name) }}</div>
		</div>
	</div>
{% endblock %}
