{% extends 'base.html.twig' %}

{% block body %}
	<div class="content-container">
		<div class="login-page">
			<section class="login-form">
				<h3>{{ 'security.login.title'|trans }}</h3>

				{{ render(controller( 'App\\Controller\\SecurityController::loginForm' )) }}
			</section>
			<section class="register-form">
				<h3>{{ 'security.register.title'|trans }}</h3>

				{% include 'components/user/register.html.twig' %}
			</section>
		</div>
	</div>
{% endblock %}
