{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__password">
		<div class="main--header">
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="main--content content-container">
			<form method="post">
				<h1>{{ 'pages.user.reset_password.title'|trans }}</h1>

				<div class="form-row form-row__field">
					<label for="reset-form-password">{{ 'forms.user.password.label'|trans }}</label>
					<input id="reset-form-password" type="password" name="password" placeholder="{{ 'forms.user.password.placeholder'|trans }}" required>
				</div>
				<div class="form-row form-row__submit">
					<input type="hidden" name="token" value="{token}">
					<button type="submit">{{ 'pages.user.reset_password.button'|trans }}</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
