{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__password">
		<div class="main--header">
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="main--content content-container">
			<form method="post">
				<h1>{{ 'pages.user.forgotten_password.title'|trans }}</h1>

				<div class="form-row form-row__field">
					<label for="password-form-email">{{ 'forms.user.email.label'|trans }}</label>
					<input id="password-form-email" type="email" name="email" placeholder="{{ 'forms.user.email.placeholder'|trans }}" required autofocus>
				</div>

				<div class="form-row form-row__submit">
					<button type="submit">{{ 'pages.user.forgotten_password.button'|trans }}</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
