{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__profile">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="profile-form">
					<h1 class="h2">{{ 'pages.user.profile_create.title'|trans }}</h1>

					<p class="hint">{{ 'pages.user.profile_create.introduction'|trans }}</p>

					{% include 'forms/user/profile-form.html.twig' with ({'form':form, 'form_submit':'pages.user.profile_create.button'}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
