{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__profile">
		<div class="main--content content-container">
			<div class="thin">
				{% include 'components/app-flashes.html.twig' %}

				<section class="profile-header">
					{% include 'contents/user/user--header.html.twig' with{'user':user} %}
				</section>

				<section class="profile-form">
					<h1 class="h2">{{ 'pages.user.profile_edit.title'|trans }}</h1>

					<p class="hint">{{ 'pages.user.profile_edit.introduction'|trans }}</p>

					{% include 'forms/user/profile-form.html.twig' with ({
						'form':form,
						'form_submit':'pages.user.profile_edit.button',
						'view':true,
						'user':user
					}) %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}
