{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.register.title'|trans }} | {{ plateform.name }}{% endblock %}

{% block main %}
	<section class="main main__user-page main__user-page__register">
		<div class="main--header">
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="main--content content-container">
			<section class="register-form">
				{% include 'forms/user/register.html.twig'  with {'recaptcha_site_key': recaptcha_site_key} %}
			</section>
		</div>
	</section>
{% endblock %}
