{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__register">
		<div class="main--header">
			<div class="main--header--content content-container">
				{% include 'components/app-flashes.html.twig' %}
			</div>
		</div>
		<div class="main--content content-container">
			<section class="register-form">
				{% include 'components/user/register.html.twig' %}
			</section>
		</div>
	</section>
{% endblock %}
