{% extends 'base.html.twig' %}

{% block body %}
	<form method="post">
		<h1>{{ 'pages.user.reset_password.title'|trans }}</h1>

		<div class="form-row form-row__field">
			<label for="reset-form-password">{{ 'forms.password.label'|trans }}</label>
			<input id="reset-form-password" type="password" name="password" placeholder="{{ 'forms.password.placeholder'|trans }}" required>
		</div>
		<div class="form-row form-row__submit">
			<input type="hidden" name="token" value="{token}">
			<button type="submit">{{ 'pages.user.reset_password.button'|trans }}</button>
		</div>
	</form>
{% endblock %}
