{% set classes = ['result', 'result__teaser'] %}
<a class="{{ classes|join(' ') }}" href="TODO">
	<div>
		<div class="result-type">MEMBRE</div>
		<div class="result-title">{{ membre.name|raw }}</div>
		<div class="result-small-text">{{ membre.presentation|striptags('<br><em><p>')|raw }}</div>
		<div class="result-small-text">{{ membre.bio|striptags('<br><em><p>')|raw }}</div>
	</div>
</a>
