/**************************************************
* SETTINGS
**************************************************/

$color_grey_medium: #333333;
$color_grey_light: #4c4c4c;
$color_grey_lighter: #c0c1bb;

$color_green_medium: #949b0b;
$color_green_bright: #b7be2f;
$color_green_light: #cdd280;

$color_kaki_light: #b2b587;
$color_kaki_lighter: #ebece5;

$color_orange_dark: #d76d29;
$color_orange_medium: #ec7725;
$color_orange_light: #ffd37f;

$color_default: $color_grey_medium;
$color_action: $color_green_medium;
