/**************************************************
* SETTINGS
**************************************************/

$color_grey_dark: #1e1b2e;
$color_grey_medium: #333333;
$color_grey_neutral: #646568;
$color_grey_light: #a6adc6;
$color_grey_lighter: #f5f7f6;

$color_dodger_blue: #079bd9;
$color_lime_green: #4faf31;
$color_saddle_brown: #8f3f00;
$color_orange_red: #e95a06;
$color_orange: #f59701;
$color_gold_yellow: #fed102;

$color_default: black;
$color_action: #2fb67d;
