/**************************************************
* SETTINGS
**************************************************/

$color_grey_dark: #1e1b2e;
$color_grey_medium: #333435;
$color_grey_neutral: #646568;
$color_grey_light: #8E8F94;
$color_grey_border: #e3e5e9;
$color_grey_lighter: #f5f7f6;

$color_dodger_blue: #079bd9;
$color_lime_green: #4faf31;
$color_saddle_brown: #8f3f00;
$color_red: #e22020;
$color_orange_red: #e95a06;
$color_orange: #f59701;
$color_gold_yellow: #fed102;
$color_green: #06a243;
$color_green-haze: #0ae372;
$color_blue: #92d4f2;
$color_jordy-blue: #dff2fb;
$color_yellow: #F3CC00;
$color_tangerine: #e79900;
$color_purple: #8F607C;
$color_light-orchid: #dea3d3;
$color_mine-shaft: #333333;
$color_default: black;
$color_action: #2fb67d;

/**************************************************
* SETTINGS
**************************************************/

$color_blue_sky : #F5F7FA; // Background if page not full
$color_blue_cloud: #06A24319; // Background validation popup
$color_blue_light: #92D4F2; // Footer menu blue line
$color_white : #FFFFFF; // Menu Background
$color_grey_light: #9B9B9B; // Menu Border
$color_grey_lightest : #DBDEE4; // Placeholder text
$color_grey_light_green: #8F607C1A; // Tag and button background
//$color_grey_neutral: #646568;
$color_grey_dark: #1e1b2e; // Footer menu text
$color_green_light: #4FAF3140; // Border textarea
$color_green_dark: #06A243; // Footer menu green line
$color_aubergine: #8F607C; // Main color tone
$color_red_light: #DD16161A; // Error flash message
$color_red: #E22020; // Delete button
$color_orange_light: #FFD24A40; // Delete button

