/**************************************************
* FONTS FACES
**************************************************/

@mixin font_default {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style:  normal;
}

@mixin font_default_bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style:  normal;
}

@mixin font_title {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style:  normal;
}

@mixin font_title_bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style:  normal;
}

/**************************************************
* FONTS SIZES
**************************************************/

@function font_size_default($size: 'small') {
	@if $size == 'large' {
		@return rem(16px);
	}

	@return rem(16px);
}

@function line_height_default($size: 'small') {
	@return (33 / 20);
}

/**************************************************
* TITLES
**************************************************/

@mixin h1-is-huge {
	margin:    0 0 1rem;

	@include font_title_bold;

	font-size: rem(48px);

	@include medium-or-more {
		font-size: rem(60px);
	}
}

@mixin h1 {
	margin:    0 0 1rem;

	@include font_title_bold;

	font-size: rem(40px);

	@include medium-or-more {
		font-size: rem(50px);
	}
}

@mixin h2 {
	margin:    0 0 1rem;

	@include font_title_bold;

	font-size: rem(32px);

	@include medium-or-more {
		font-size: rem(40px);
	}
}

@mixin h3 {
	margin:    0 0 1rem;

	@include font_title;

	font-size: rem(24px);

	@include medium-or-more {
		font-size: rem(30px);
	}
}

@mixin h4 {
	margin:    0 0 1rem;

	@include font_title;

	font-size: font_size_default();

	@include medium-or-more {
		font-size: font_size_default('large');
	}
}

/**************************************************
* LINKS
**************************************************/

@mixin cta-style($color: $color_lime_green) {
	display:          inline-block;
	padding:          .5rem .8rem;

	text-align:       center;

	color:            white;
	background-color: $color;
	border:           0;
	border-radius:    rem(5px);
	text-decoration:  none;

	@include font_title;

	transition:       background-color .15s ease-in-out;

	&:hover,
	&:focus {
		background-color: $color;
	}
}
