/**************************************************
* FONTS FACES
**************************************************/

@use "sass:math";

@font-face {
	font-family: "Century Gothic";
	src: url("fonts/century-gothic/CenturyGothic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("fonts/century-gothic/CenturyGothicBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@mixin font_default {
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style:  normal;
}

@mixin font_default_bold {
	font-family: "Century Gothic Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style:  normal;
}

@mixin font_title {
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style:  normal;
}

@mixin font_title_bold {
	font-family: "Century Gothic Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style:  normal;
}

@mixin font_helvetica {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style:  normal;
}

/**************************************************
* FONTS SIZES
**************************************************/

@function font_size_default($size: 'small') {
	@if $size == 'large' {
		@return rem(18px);
	}

	@return rem(16px);
}

@function line_height_default($size: 'small') {
	@if $size == 'large' {
		@return math.div(23, 16);
	}

	@return math.div(24, 18);
}

/**************************************************
* TITLES
**************************************************/

@mixin h1-is-huge {
	margin:    0 0 1rem;

	@include font_title_bold;

	font-size: rem(48px);

	@include medium-or-more {
		font-size: rem(60px);
	}
}

@mixin h1 {
	margin:      0 0 1rem;

	@include font_title_bold;

	font-size:   rem(23px);
	line-height: math.div(28, 23);

	@include medium-or-more {
		font-size:   rem(40px);
		line-height: (47 * 0.025);
	}
}

@mixin h2 {
	margin:      0 0 1rem;

	@include font_title;

	font-size:   rem(22px);
	line-height: math.div(26, 22);

	@include medium-or-more {
		font-size:   rem(28px);
		line-height: math.div(34, 28);
	}
}

@mixin h3 {
	margin:      0 0 1rem;

	@include font_title_bold;

	font-size:   rem(25px);
	line-height: math.div(30, 25);

	@include medium-or-more {
		font-size:   rem(22px);
		line-height: math.div(26, 22);
	}
}

@mixin h4 {
	margin:    0 0 1rem;

	@include font_title_bold;

	font-size: rem(16px);

	@include medium-or-more {
		font-size: rem(16px);
	}
}

/**************************************************
* LINKS
**************************************************/

@mixin cta-style($color: $color_aubergine, $inverted: false, $background: rgba(white, 0)) {
	display:         inline-block;
	vertical-align:  middle;

	text-align:      center;

	border:          1px solid $color;
	border-radius:   0;
	text-decoration: none;

	@include font_default_bold;
	$line-height: 1.3;

	line-height:     $line-height;
	font-size:       rem(14px);
	padding:         em(.5 * (30px - 2px - $line-height * 14px), 14px) 1.5em;
	min-height:      rem(30px);

	@include medium-or-more {
		font-size:  rem(16px);
		padding:    em(.5 * (40px - 2px - $line-height * 16px), 16px) 1.5em;
		min-height: rem(40px);
	}

	@if $inverted {
		color:            $color;
		background-color: $background;

		@if $color == white {
			&:hover,
			&:focus {
				color:            $color_aubergine;
				background-color: $color;
			}
		} @else {
			&:hover,
			&:focus {
				color:            white;
				background-color: $color;
			}
		}
	} @else {
		color:            white;
		background-color: $color;

		&:hover,
		&:focus {
			color:            $color;
			background-color: white;
		}

	}

	transition:      color .25s ease-in-out,
					 background-color .15s ease-in-out,
					 border-color .15s ease-in-out;

	&:disabled {
		color:            #999999;
		background-color: #cccccc;
	}

}
