/**************************************************
* LAYOUT
**************************************************/

@function padding_horizontal($size: 'small') {
	@if $size == 'large' {
		@return rem(20px);
	}

	@return rem(20px);
}

@function padding_vertical($size: 'small') {
	@if $size == 'large' {
		@return rem(20px);
	}

	@return rem(20px);
}

@function column_gap($size: 'small') {
	@return rem(50px);
}

@function content_width() {
	@return rem((3 * 292 + 2 * 50) * 1px);
}

// Content column
@mixin content-container {
	margin-left:  auto;
	margin-right: auto;
	max-width:    content_width();
}

.content-container {
	@include content-container;
}

/**************************************************
* CARDS
**************************************************/

@mixin shadow() {
	box-shadow: 0 .6em 1em -.2em rgba($color_default, .25);
}

@mixin card_shadow() {
	color:            $color_default;
	background-color: white;
	@include shadow;
}

@mixin cards-container {
	display:         flex;
	flex-flow:       row wrap;
	justify-content: flex-start;
	align-items:     stretch;
}

@mixin card($n: 3) {
	margin:      0 0 column_gap();
	&:not(:nth-child(#{$n}n+#{$n})) {
		margin-right: column_gap();
	}
	flex-basis:  calc(#{(1 / $n) * 100%} - #{(($n - 1) / $n) * column_gap()});

	overflow:    hidden;

	@include card_shadow;
}

/**************************************************
* HEADER
**************************************************/

@function first_content_padding($size: 'small') {
	@if $size == 'large' {
		@return rem(150px);
	}

	@return rem(100px);
}
