/**************************************************
* LAYOUT
**************************************************/

@function padding_horizontal($size: 'small') {
	@if $size == 'large' {
		@return rem(20px);
	}

	@return rem(20px);
}

@function padding_vertical($size: 'small') {
	@if $size == 'large' {
		@return rem(20px);
	}

	@return rem(20px);
}

@function column_gap($size: 'small') {
	@return rem(50px);
}

@function content_width() {
	@return rem((3 * 292 + 2 * 50 + 2 * 20) * 1px);
}

// Content column
@mixin content-container {
	margin-left:   auto;
	margin-right:  auto;
	max-width:     content_width();

	padding-left:  padding_horizontal();
	padding-right: padding_horizontal();
}

.content-container {
	@include content-container;
}

/**************************************************
* COLUMNS
**************************************************/

@mixin columns {
	@include medium-or-more {
		display:         flex;
		flex-flow:       row wrap;
		justify-content: space-between;
		align-items:     stretch;
	}
}

@mixin columns_item($n: 1/3, $bottom_gap: true) {
	@if $bottom_gap {
		margin-bottom: column_gap();
	}

	@include medium-or-more {
		width: calc(#{$n * 100%} - #{(1 - $n) * column_gap() });
	}
}

@mixin columns_item_four($n: 1/4, $bottom_gap: true) {
	@if $bottom_gap {
		margin-bottom: column_gap();
	}

	@include medium-or-more {
		width: calc(#{$n * 100%} - #{(1 - $n) * column_gap() });
	}
}

/**************************************************
* CARDS
**************************************************/

@mixin shadow() {
	box-shadow: 0 .05rem .2rem rgba($color_default, .25);
}

@mixin card_shadow() {
	color:            $color_default;
	background-color: white;
	@include shadow;
}
