{% extends 'base.html.twig' %}

{% block title %}{{ page.title }} - {{ group.name }} - {{ community.name }}{% endblock %}

{% block main %}
	<section class="main main__page-index">
		{% include 'contents/page/page--full.html.twig' with {'group':group, 'page':page} %}
	</section>
{% endblock %}
