{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<section class="group-header">
				<h1 class="h1">{{ 'pages.page.page_create.title'|trans }}</h1>

				{#//TODO : Breadcrumb#}
			</section>

			<section class="group-form">
				{% include 'forms/page/page-form.html.twig' with ({
					'form':form,
					'form_submit':'pages.page.page_create.button',
					'upload':upload
				}) %}
			</section>
		</div>
	</section>
{% endblock %}
