{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__group-page main__group-page__edit">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}

			<section class="group-header">
				<h1 class="h1">{{ 'pages.group.pages.title'|trans }}</h1>

				{% include 'components/breadcrumb.html.twig' with {'items':[
					{
						label: 'pages.group.groups.title'|trans,
						href: path('groups_index')
					},
					{
						label: group.name,
						href: path('group_index', {'groupSlug':group.slug})
					},
					{
						label: 'pages.group.pages.title'|trans,
						href: path('group_pages_index', {'groupSlug':group.slug})
					},
					{
						label: 'pages.page.page_create.title'|trans
					}
				]} %}
			</section>

			<section class="group-form">
				{% include 'forms/page/page-form.html.twig' with ({
					'form':form,
					'form_submit':'pages.page.page_create.button',
					'upload':upload
				}) %}
			</section>
		</div>
	</section>
{% endblock %}
