{% extends 'emails/base.html.twig' %}

{% block title %}Changement d’adresse e-mail{% endblock %}

{% block preheader %}Confirmer votre changement d’adresse{% endblock %}

{% block body %}
	<h1>Bonjour {{ user.displayName }},</h1>

	<p>Cliquez sur le bouton suivant pour confirmer le changement d’adresse e-mail pour votre compte <strong>{{ community.name }}</strong> :</p>

	{% include 'components/email-button.html.twig' with {'url':url, 'label':'Confirmer'} %}

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
