{% extends 'emails/base.html.twig' %}

{% block title %}Changement d’adresse e-mail{% endblock %}

{% block preheader %}À propos de votre changement d’adresse{% endblock %}

{% block body %}
	<h1>Bonjour {{ user.displayName }},</h1>

	<p>Une demande de changement de votre adresse e-mail pour votre compte <strong>{{ platform.name }}</strong> a été effectuée.</p>

	<p>Si vous n’êtes pas à l’origine de cette demande, nous vous invitons à contacter rapidement les administrateurs.</p>

	<p>Sinon, nous vous invitons à confirmer ce changement via l’e-mail que vous allez recevoir sur votre nouvelle adresse.</p>

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
