{% extends 'emails/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block preheader %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
	<h1>Bonjour,</h1>

	<p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe :</p>

	<!-- Action -->
	<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td align="center">
				<!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<a href="{{ url }}" class="button button--" target="_blank">Réinitialiser</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<p>Bonne journée,</p>

	<p>L'équipe de la plateforme NaturAdapt</p>
{% endblock %}
