{% extends 'emails/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block preheader %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
	<h1>Bonjour {{ user.displayName }},</h1>

	<p>Cliquez sur le bouton suivant pour réinitialiser votre mot de passe :</p>

	{% include 'components/email-button.html.twig' with {'url':url, 'label':'Réinitialiser'} %}

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
