<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Mot de passe oublié</title>
</head>
<body>
	<p>Bonjour,</p>

	<p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe : <a href="{{ url }}">{{ url }}</a></p>

	<p>Bonne journée,</p>

	<p>L'équipe de la plateforme NaturAdapt</p>
</body>
</html>
