{% extends 'emails/base.html.twig' %}

{% block title %}Demande d'inscription au groupe{% endblock %}

{% block preheader %}{% endblock %}

{% block body %}
	<h1>Bonjour {{ admin.displayName }},</h1>

	<p>{{ user.name }} a demandé à rejoindre le groupe <strong>{{ usergroup.name }}</strong>. Rendez-vous dans l'annuaire des membres du groupe pour accepter ou décliner sa demande&nbsp;:</p>

	{% include 'components/email-button.html.twig' with {'url':url, 'label':'Annuaire des membres'} %}

	{% if multiple %}
		<p>Si vous ne voyez pas d'utilisateur en attente en haut de la liste, il est possible qu'un autre administrateur ait déjà répondu à cette demande.</p>
	{% endif %}

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
