{% extends 'emails/base.html.twig' %}

{% block title %}Activez votre compte{% endblock %}

{% block preheader %}Bienvenue sur la plateforme Nos Pollinisateurs !{% endblock %}

{% block body %}
	<h1>Bienvenue {{ user.displayName }},</h1>

	<p>Cliquez sur le bouton suivant pour activer votre compte :</p>

	{% include 'components/email-button.html.twig' with {'url':url, 'label':'Activer mon compte'} %}

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
