<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Activez votre compte</title>
</head>
<body>
	<p>Bienvenue sur la plateforme NaturAdapt !</p>

	<p>Cliquez sur le lien suivant pour activer votre compte : <a href="{{ url }}">{{ url }}</a></p>

	<p>Bonne journée,</p>

	<p>L'équipe de la plateforme NaturAdapt</p>
</body>
</html>
