/**************************************************
* STYLES DEFINITIONS
**************************************************/

@mixin button-reset {
	padding:          0;
	border:           none;
	font:             inherit;
	color:            inherit;
	background-color: transparent;
	cursor:           pointer;
}

@mixin label-style {
	display:     inline-block;
	margin:      0 0 .5rem;
	padding:     0;

	max-width:   100%;

	@include font_default;
	font-size:   1rem;
	line-height: line_height_default();

	color:       $color_default;
}

@mixin input-style {
	display:       inline-block;
	box-sizing:    border-box;
	margin:        0;

	max-width:     100%;
	height:        auto;

	@include font_default;
	font-size:     rem(16px);
	$line-height: 1.3;

	line-height:   $line-height;
	padding:       em(.5 * (30px - 2px - $line-height * 16px), 16px) .8em;
	min-height:    rem(30px);

	@include medium-or-more {
		padding:    em(.5 * (40px - 2px - $line-height * 16px), 16px) .8em;
		min-height: rem(40px);
	}

	color:         $color_default;
	background:    white;

	border:        1px solid $color_grey_border;
	border-radius: 0;

	&:disabled {
		color: #999999;
	}

	&:hover {
	}

	&:focus {
		outline:      none;
		border-color: $color_grey_medium;
	}

	&:focus-within {
		outline:      none;
		border-color: $color_grey_medium;
	}

	&.error,
	.error & {
		border-color: $color_orange_red;
	}
}

@mixin submit-style {
	@include cta-style;
}

.submit-style {
	@include submit-style;

	&.submit-style__inverted {
		@include cta-style($color_action, true);
	}
}

/**************************************************
* STYLES ASSIGNATION
**************************************************/

input[type="checkbox"],
input[type="radio"] {
	outline: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
select {
	@include input-style;
}

input[type="search"] {
	border-color:        white;
	@include card_shadow;

	$line-height: 1.3;

	line-height:         $line-height;
	font-size:           rem(16px);
	padding-top:         em(.5 * (50px - 2px - $line-height * 16px), 16px);
	padding-bottom:      em(.5 * (50px - 2px - $line-height * 16px), 16px);
	min-height:          rem(50px);

	padding-left:        rem(54px);
	@import "../_assets/search.svg";
	background-size:     rem(22px) rem(22px);
	background-repeat:   no-repeat;
	background-position: rem(15px) center;

	@include medium-or-more {
		font-size:      rem(18px);
		padding-top:    em(.5 * (50px - 2px - $line-height * 18px), 16px);
		padding-bottom: em(.5 * (50px - 2px - $line-height * 18px), 16px);
		min-height:     rem(50px);
	}
}

select {
	padding-right:       rem(30px);

	-webkit-appearance:  none;
	-moz-appearance:     none;
	appearance:          none;

	$color: $color_default;
	@import '../_assets/picto-select.svg';
	background-repeat:   no-repeat;
	background-position: right rem(10px) center;
}

select::-ms-expand {
	display: none;
}

option {
	font-size:    1rem;

	border:       none;
	margin-right: .56em;
}

textarea {
	width:       100%;

	font-size:   1rem;

	line-height: line_height_default();
	height:      line_height_default() * 5 * 1em;
}

button[type="button"]:not([class]),
button[type="submit"],
input[type="submit"] {
	@include submit-style;
}

.grippie {
	display: none;
}

/**************************************************
* CHECKBOXES
**************************************************/

.checkbox-label {
	position:     relative;
	padding-left: rem(30px);

	&::before {
		content:    '';
		position:   absolute;
		left:       0;
		top:        1.1em;
		margin-top: rem(-16px);

		@include picto-checkbox();
	}

	input[type="checkbox"]:checked + & {
		&::before {
			@include picto-checkbox(1, false);
		}
	}

	&:focus,
	input[type="checkbox"]:focus + & {
		&::before {
			@include picto-checkbox(2, false);
		}
	}

	input[type="checkbox"]:checked &:focus,
	input[type="checkbox"]:checked:focus + & {
		&::before {
			@include picto-checkbox(3, false);
		}
	}
}

@mixin checkbox-label {
	@extend .checkbox-label;
}

.form-row__checkbox,
.form-row__checkboxes:not(#_o) {
	label:not(.autocomplete-tags) {
		display:        block;

		@include checkbox-label;
		padding-bottom: 0;
	}

	input[type="checkbox"] {
		position: absolute;
		width:    0;
		height:   0;
		opacity:  0;
		overflow: hidden;
	}
}

/**************************************************
* RADIOBOXES
**************************************************/

.radiobox-label {
	position:     relative;
	padding-left: rem(30px);

	&::before {
		content:    '';
		position:   absolute;
		left:       0;
		top:        1.1em;
		margin-top: rem(-16px);

		@include picto-radiobox();
	}

	input[type="radio"]:checked + & {
		&::before {
			@include picto-radiobox(1, false);
		}
	}

	&:focus,
	input[type="radio"]:focus + & {
		&::before {
			@include picto-radiobox(2, false);
		}
	}

	input[type="radio"]:checked &:focus,
	input[type="radio"]:checked:focus + & {
		&::before {
			@include picto-radiobox(3, false);
		}
	}
}

@mixin radiobox-label {
	@extend .radiobox-label;
}

.form-row__radiobox,
.form-row__radioboxes:not(#_o) {
	label {
		display:        block;

		@include radiobox-label;
		padding-bottom: 0;
	}

	input[type="radio"] {
		position: absolute;
		width:    0;
		height:   0;
		opacity:  0;
		overflow: hidden;
	}
}

/**************************************************
* FORM LAYOUT
**************************************************/

$form_label_width: (1/3) * 100%;

.form-row {
	margin-bottom: rem(26px);

	display:       flex;
	flex-flow:     column nowrap;
	align-items:   stretch;

	label:not(.submit-style):not(.autocomplete-tags) {
		@include label-style;
	}

	label.required {
		&::after {
			content:     '*';
			margin-left: .31em;
		}
	}

	.hint {
		margin: 0 0 .4rem;
	}

	label + .hint {
		margin-top: -.4rem;
	}
}

.form-row__mandatory {
	margin-bottom: 1rem;

	font-size:     rem(13px);

	@include medium-or-more {
		font-size: rem(14px);
	}

	color:         $color_action;
}

.form-row__field {
}

.form-row__file {
	position: relative;

	input[type="file"] {
		position: absolute;
		opacity:  0;
	}

	label.submit-style {
		align-self: flex-start;
	}

	.file-preview {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: stretch;
		align-items:     stretch;
	}

	.file-preview--img {
		position:         relative;
		margin-right:     column_gap();
		overflow:         hidden;

		background-color: $color_grey_light;
		border-radius:    rem(5px);

		img {
			display:         block;
			width:           100%;
			height:          100%;
			object-fit:      cover;
			object-position: center center;
		}
	}

	.file-preview--content {
		display:         flex;
		flex-flow:       column nowrap;
		justify-content: stretch;

		label {
			margin-bottom: 0;
		}

		.hint {
			margin-bottom: 0;
			flex-grow:     1;
		}
	}
}

.form-row__checkbox {
}

.form-row__no-gap {
	margin-bottom: 0;
}

.form-row__filter {
	margin-bottom:  padding_vertical();
	padding-bottom: padding_vertical();
	border-bottom:  1px solid $color_grey_border;
}

.form-row__submit {
	position:      relative;
	display:       block;
	margin-bottom: 0;
	padding-top:   padding_vertical();

	border-top:    1px solid $color_grey_border;

	.form-row__filter + & {
		padding-top: 0;
		border-top:  0;
	}

	[type="submit"] {
		display:      inline-block;
		min-width:    30%;
		margin-right: 2rem;
	}

	a:not([class]) {
		font-size:       rem(14px);

		@include medium-or-more {
			font-size: rem(16px);
		}

		color:           $color_dodger_blue;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
