/**************************************************
* ELEMENTS STYLES
**************************************************/

@use "sass:math";

body {
	display:          flex;
	flex-flow:        column nowrap;
	min-height:       100vh;

	@include font_default;

	font-size:        font_size_default();
	line-height:      line_height_default();

	@include large-or-more {
		font-size:   font_size_default('large');
		line-height: line_height_default('large');
	}

	color:            $color_default;
	background-color: $color_blue_sky;
}

button,
input {
	line-height: line_height_default();
}

img {
	@include max100;
}

.cta {
	@include cta-style;
}

.cta__red {
	@include cta-style($color_red);
}

.cta__white {
	@include cta-style(white, true);
}

.cta__inverted {
	@include cta-style($color_aubergine, true);
}

a:not([class]) {
	color:                    inherit;
	text-decoration:          underline;
	text-decoration-skip-ink: auto;
}

p {
	margin: 0;
}

p:not([class]):not(:last-child), .p {
	margin: 0 0 1rem;
}

p a:not([class]) {
	color: $color_aubergine;
}

figcaption {
	padding:       .3em 0 .8em;
	text-align:    center;

	@include font_default_bold;
	font-size:     math.div(16, 18) * 1em;
	color:         $color_grey_neutral;

	border-bottom: 1px solid $color_grey_border;
}

blockquote {
	padding:     .5em padding_vertical();
	margin:      0 0 padding_vertical();

	@include font_default;

	border-left: 5px solid $color_grey_neutral;

	footer {
		display:   block;
		font-size: 80%;
		color:     $color_grey_neutral;
	}
}

table {
	width:         100%;
	margin-bottom: 1rem;
	border:        1px solid $color_grey_light;

	th,
	td {
		@include font_default;

		padding:          .75em;
		background-color: white;
		border:           1px solid $color_grey_light;
	}

	th {
		@include font_default_bold;
	}

	thead th {
		text-align:          left;
		vertical-align:      bottom;
		border-bottom-width: 2px;
	}

}

.hint {
	font-size: rem(13px);

	@include medium-or-more {
		font-size: rem(14px);
	}

	color:     $color_grey_neutral;
}

p.hint {
	margin-bottom: rem(24px);
}

h1,
h2,
h3 {
	& + p.hint {
		margin-top: -1rem;;
	}
}

.h1, h1:not([class]) {
	@include h1;
}

.h2, h2:not([class]) {
	@include h2;
}

.h3, h3:not([class]) {
	@include h3;
}

.h4, h4:not([class]) {
	@include h4;
}

.small-title {
	margin:         0 0 1rem;

	@include font_title_bold;

	font-size:      rem(12px);

	@include medium-or-more {
		font-size: rem(18px);
	}
}

.narrow {
	@include large-or-more {
		margin: 0 auto;
		width:  84%;
	}
}

.thin {
	@include large-or-more {
		margin: 0 auto;
		width:  math.div(700, 976) * 100%;
	}
}

.columns {
	&__50-50 {
		@include columns;

		> * {
			@include columns_item(1*0.5, false);
		}
	}

	&__33-33-33 {
		@include columns;

		> * {
			@include columns_item(math.div(1, 3), false);
		}
	}

	&__25-25-25-25 {
		@include columns;

		> * {
			@include columns_item_four(math.div(1, 4), false);
		}
	}

	&__33-66 {
		@include columns;

		> :nth-child(2n+1) {
			@include columns_item(math.div(1, 3), false);
		}

		> :nth-child(2n+2) {
			@include columns_item(math.div(2, 3), false);
		}
	}

	&__66-33 {
		@include columns;

		> :nth-child(2n+1) {
			@include columns_item(math.div(2, 3), false);
		}

		> :nth-child(2n+2) {
			@include columns_item(math.div(1, 3), false);
		}
	}

	&__no-stretch {
		align-items: flex-start;
	}
}
