/**************************************************
* WP WYSIWYG STYLES
**************************************************/

.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
