<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{% block title %}{{ plateform.name }}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block stylesheets %}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i" rel="stylesheet">
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>

<body>
{% include 'layout/icons.svg.twig' %}

{% block header %}
	{% include 'layout/header.html.twig' %}
{% endblock %}

<main>
	{% block body %}
		{% include 'components/app-flashes.html.twig' %}
	{% endblock %}
</main>

{% block footer %}
	{% include 'layout/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
