<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{% block title %}{{ platform.name }}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block favicon %}
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-config" content="/media/favicon/browserconfig.xml">

		<link rel="shortcut icon" href="/media/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
		<link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#ffffff">

		<meta name="theme-color" content="#ffffff">
	{% endblock %}
	{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i" rel="stylesheet">
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
	{% if platform.analytics %}
	<script defer data-domain="nospollinisateurs.fr" src="https://plausible.io/js/script.js"></script>
	{% endif %}
</head>

<body class="{% block body_class %}sub_page{% endblock %}">
{% include 'layout/icons.svg.twig' %}
{% include 'assets/svg/user-blob.svg' %}

{% block header %}
	{% include 'layout/header.html.twig' %}
{% endblock %}

<main>
	{% block main %}
		<section class="main">
			<div class="main--header">
				<div class="main--header--image">
					<!-- Hero image here -->
				</div>
				<div class="main--header--content content-container">
					{% include 'components/app-flashes.html.twig' %}
				</div>
			</div>
			<div class="main--content content-container">
				<!-- Page content here -->
			</div>
		</section>
	{% endblock %}
</main>

{% block footer %}
	{% include 'layout/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
