/**************************************************
 * USER PAGES
 *************************************************/

.main__user-page__login {
	.login-form,
	.register-form {
		@include columns_item(1*0.5);
		@include card_shadow();

		padding:         padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		display:         flex;
		flex-flow:       column nowrap;
		justify-content: stretch;
		align-items:     stretch;

		form {
			flex-grow: 1;

			display:   flex;
			flex-flow: column nowrap;

			.form-rows {
				flex-grow: 1;
			}
		}
	}
}

.main__user-page__password {
	form {
		@include card_shadow;

		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}
}

.main__user-page__profile {
	.profile-form {
		@include card_shadow;

		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}

	.form-row__file {
		margin-top: rem(27px);
	}

	.file-preview--img {
		width:  rem(110px);
		height: rem(110px);
	}
}

.main__user-page__my-groups {
	.profile-form {
		@include card_shadow;

		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}
}

.main__user-page__parameters {
	.profile-form {
		&:not(:last-child) {
			margin-bottom: rem(50px);
		}

		@include card_shadow;

		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}
	}

	.forgotten-password-link {
		text-align: right;

		a {
			@include label-style;
			color: $color_aubergine;
		}
	}
}

/**************************************************
 * USER DASHBOARD
 *************************************************/

.user-dashboard {
	margin: rem(50px) 0 0;

	@include medium-or-more {
		margin: rem(55px) 0 0;
	}

	&--tabs {
		@include medium-or-more {
			display: none;
		}

		margin-bottom: padding_vertical();

		.user-dashboard--tab-button {
			@include button-reset;
			display:        block;
			padding-bottom: rem(10px);
			border-bottom:  3px solid transparent;

			@include font_default_bold;
			font-size:      rem(16px);
		}

		@include clearulli;

		ul {
			display:   flex;
			flex:      1;
			flex-flow: row nowrap;
		}


		li {
			&:not(:first-child) {
				margin-left: rem(30px);
			}

			&[aria-selected="true"] .user-dashboard--tab-button {
				color:        $color_aubergine;
				border-color: $color_aubergine;
			}
		}
	}

	&--tabs-contents {
		@include medium-or-more {
			display:   flex;
			flex-flow: row nowrap;

			> :nth-child(1) {
				width: rem(200px);
			}

			> :nth-child(2) {
				flex-grow: 1;
			}
		}
	}

	&--groups,
	&--events {
		@include small-or-less {
			&[aria-selected="false"] {
				display: none;
			}
		}
	}

	&--groups {
		@include clearulli;
	}

	&--groups-title {
		@include small-or-less {
			display: none;
		}

		margin:         0 0 rem(10px);

		@include font_default;
		font-size:      rem(14px);
		color:          $color_grey_neutral;
	}

	&--events {
		position: relative;

		@include medium {
			margin-left: column_gap();
		}

		@include large-or-more {
			margin-left: rem(110px);
		}

		@include clearulli;

		&::before {
			content:     '';
			position:    absolute;
			top:         0;
			bottom:      0;
			left:        rem(24px);
			border-left: 1px solid #DBDEE4;
		}
	}
}
