/**************************************************
 * USER PAGES
 *************************************************/

.user-page__login .user-page--content {
	@include cards-container;

	.login-form,
	.register-form {
		@include card(2);

		padding:         padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		display:         flex;
		flex-flow:       column nowrap;
		justify-content: stretch;
		align-items:     stretch;

		form {
			flex-grow: 1;

			display:   flex;
			flex-flow: column nowrap;

			.form-rows {
				flex-grow: 1;
			}
		}
	}
}

.user-page__profile-create {
	.profile-form {
		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		@include card_shadow;
	}
}
