/**************************************************
 * USER PAGES
 *************************************************/

.user-page__login .user-page--content {
	@include cards-container;

	.login-form,
	.register-form {
		@include card(2);

		padding:         padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		display:         flex;
		flex-flow:       column nowrap;
		justify-content: stretch;
		align-items:     stretch;

		form {
			flex-grow: 1;

			display:   flex;
			flex-flow: column nowrap;

			.form-rows {
				flex-grow: 1;
			}
		}
	}
}

.user-page__profile-create,
.user-page__profile-edit {
	.profile-form {
		padding: padding_vertical('small') padding_horizontal('small');

		@include large-or-more {
			padding: padding_vertical('large') padding_horizontal('large');
		}

		@include card_shadow;
	}

	.form-row__file {
		margin-top: rem(27px);
	}

	.file-preview {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: stretch;
		align-items:     stretch;
	}

	.file-preview--img {
		position:         relative;
		margin-right:     column_gap();
		width:            rem(110px);
		height:           rem(110px);
		overflow:         hidden;

		background-color: $color_grey_light;
		border-radius:    rem(5px);

		img {
			display:         block;
			width:           100%;
			height:          100%;
			object-fit:      cover;
			object-position: center center;
		}
	}

	.file-preview--content {
		display:         flex;
		flex-flow:       column nowrap;
		justify-content: stretch;

		label {
			margin-bottom: 0;
		}

		.hint {
			margin-bottom: 0;
			flex-grow:     1;
		}
	}

	.columns-66-33 > :nth-child(1) {
		padding-right: column_gap();
	}
}

.user-page__dashboard .user-page--content {
	.h2 {
		margin-bottom: 0;
	}

	.h3 {
		color: $color_grey_light;
	}
}
