/**************************************************
 * USER COMPONENTS
 *************************************************/

.user--avatar {
	display:          flex;
	border-radius:    50%;
	overflow:         hidden;

	background-color: $color_orange_red;
	background-color: var(--color);

	img {
		display: block;
		width:   100%;
		height:  100%;
	}

	svg {
		display: block;
		margin:  auto;
		width:   60%;
		height:  60%;
	}
}

/**************************************************
 * USER TINY (simple avatar)
 *************************************************/

.user__tiny {
	position:       relative;
	display:        inline-block;
	vertical-align: top;

	width:          line_height_default() * 1em;
	height:         line_height_default() * 1em;
	border-radius:  50%;
	overflow:       hidden;

	.user--name {
		position:  absolute;
		width:     0;
		height:    0;
		overflow:  hidden;
		font-size: 0;
	}

	.user--avatar {
		position: absolute;
		top:      0;
		right:    0;
		bottom:   0;
		left:     0;
	}
}

/**************************************************
 * USER TEASER (avatar + name + presentation)
 *************************************************/

.user__teaser {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	.user--avatar {
		width:        rem(40px);
		height:       rem(40px);
		margin-right: 1rem;
	}

	.user--infos {
		flex-grow: 1;
	}

	.user--name {
		font-size: (14 / 16) * 1em;
	}

	.user--presentation {
		font-size: (12 / 16) * 1em;
		color:     $color_grey_light;
	}
}

/**************************************************
 * USER PROFILE
 *************************************************/

.user__profile {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	margin-bottom:   column_gap();

	.user--avatar {
		width: rem(150px);

		@include medium-or-more {
			margin-right: column_gap();
		}
	}

	.small-title {
		color: $color_grey_neutral;
	}

	.user--name {
	}

	.user--presentation {
		@include font_default_bold;

		color: $color_grey_neutral;
	}
}

/**************************************************
 * USER LIST
 *************************************************/

.member-page__list {
	[type="search"] {
		border-color: white;
		@include card_shadow;
	}
}

.user__in-list {
	display:         flex;
	flex-flow:       row nowrap;
	align-items:     center;

	padding:         rem(16px) rem(23px);

	color:           inherit;
	text-decoration: none;

	transition:      background-color .1s ease-in;

	&:focus,
	&:hover {
		background-color: rgba($color_grey_light, .5);
	}

	.user--avatar {
		width:  rem(50px);
		height: rem(50px);
	}

	.user--infos {
		padding:     0 rem(20px);

		width:       rem(215px);

		line-height: 1.3;
	}

	.user--name {
		@include font_default_bold;
	}

	.user--presentation {
		font-size: (12 / 16) * 1em;
		color:     $color_grey_light;
	}
}
