/**************************************************
 * USER COMPONENTS
 *************************************************/

.user {
	position: relative;
}

.user--avatar {
	display:       flex;
	border-radius: 50%;
	overflow:      hidden;

	&.user--avatar__empty {
		background-color: $color_orange_red;
		background-color: var(--color);
	}

	img {
		display: block;
		width:   100%;
		height:  100%;
	}

	svg {
		display: block;
		margin:  auto;
		width:   60%;
		height:  60%;
	}
}

.user--admin {
	position: absolute;
	top:      0;
	left:     0;

	&::before {
		content:           '';
		display:           block;
		width:             rem(10px);
		height:            rem(10px);

		@import "../../_assets/star.svg";
		background-repeat: no-repeat;
		background-size:   contain;
	}

	span {
		@include visually-hidden;
	}
}

/**************************************************
 * USER TINY (simple avatar)
 *************************************************/

.user__tiny {
	position:       relative;
	display:        inline-block;
	vertical-align: top;

	width:          line_height_default() * 1em;
	height:         line_height_default() * 1em;

	.user--admin {
		z-index: 1;
	}

	.user--name {
		position:  absolute;
		width:     0;
		height:    0;
		overflow:  hidden;
		font-size: 0;
	}

	.user--avatar {
		position: absolute;
		top:      0;
		right:    0;
		bottom:   0;
		left:     0;
	}
}

/**************************************************
 * USER IN ITEMS LIST (avatar + name + presentation)
 *************************************************/

.user__in-items-list {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	.user--admin {
		top: rem(13px);

		&::before {
			width:  rem(16px);
			height: rem(16px);
		}
	}

	.user--avatar {
		width:        rem(40px);
		height:       rem(40px);
		margin-right: 1rem;
	}

	.user--infos {
		flex-grow: 1;
	}

	.user--presentation {
		font-size: (12 / 14) * 1em;
		color:     $color_grey_light;
	}
}

/**************************************************
 * USER TEASER (avatar + name + presentation)
 *************************************************/

.user__teaser {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	.user--avatar {
		width:        rem(40px);
		height:       rem(40px);
		margin-right: 1rem;
	}

	.user--infos {
		flex-grow: 1;
	}

	.user--name {
		font-size: (14 / 16) * 1em;
	}

	.user--presentation {
		font-size: (12 / 16) * 1em;
		color:     $color_grey_light;
	}
}

/**************************************************
 * USER HEADER
 *************************************************/

.user__header {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	margin-bottom:   column_gap();

	.user--avatar {
		width: rem(150px);

		@include medium-or-more {
			margin-right: column_gap();
			flex-shrink:  0;
		}
	}

	.small-title {
		color: $color_grey_neutral;
	}

	.user--name {
	}

	.user--presentation {
		@include font_default_bold;

		color: $color_grey_neutral;
	}
}

/**************************************************
 * USER PROFILE
 *************************************************/

.user__profile {
	@include card_shadow;
	padding: padding_vertical() padding_horizontal();

	.user-title {
		display:         flex;
		flex-flow:       row nowrap;
		justify-content: flex-start;
		align-items:     center;

		margin-bottom:   padding_vertical();
	}

	.user--name {
		margin-bottom: rem(6px);
	}

	.user--location,
	.user--site {
		font-size: rem(16px);
		color:     $color_grey_neutral
	}

	.user--avatar {
		width:  rem(100px);
		height: rem(100px);

		@include medium-or-more {
			margin-right: padding_horizontal();
		}
	}

	.user--presentation,
	.user--skills,
	.user--bio {
		margin-bottom: rem(30px);
	}

	.user--presentation {

		@include font_default_bold;

		color: $color_grey_neutral;
	}

	.user--skills,
	.user--groups {
		@include clearulli;

		li {
			@include font_default_bold;

			font-size:      rem(16px);
			text-transform: capitalize;
			color:          $color_action;
		}

		a {
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.user--bio {
		p {
			font-size: rem(16px);
		}
	}
}

/**************************************************
 * USER LIST
 *************************************************/

.members-list {
	@include clearulli(true);

	> li {
		border-bottom: 1px solid $color_grey_border;
	}
}

.user__in-members-list {
	position:    relative;

	&:focus,
	&:hover {
		background-color: rgba(white, .6);
	}

	&:hover {
		z-index: 1;
	}

	&:focus-within {
		z-index: 1;
	}

	&.user__pending {
		&::before {
			content:          '';
			position:         absolute;
			top:              0;
			left:             0;
			bottom:           0;
			width:            rem(3px);
			background-color: $color_lime_green;
		}
	}

	&.user__banned {
		&::before {
			content:          '';
			position:         absolute;
			top:              0;
			left:             0;
			bottom:           0;
			width:            rem(3px);
			background-color: $color_orange_red;
		}
	}

	display:     flex;
	flex-flow:   row nowrap;
	align-items: center;

	a {
		color:           inherit;
		text-decoration: none;
	}

	.user-infos {
		flex-grow:   1;

		display:     flex;
		flex-flow:   row nowrap;
		align-items: center;

		padding:     padding_vertical() padding_horizontal();
	}

	.user--admin {
		top:  padding_vertical();
		left: padding_horizontal();

		&::before {
			width:  rem(16px);
			height: rem(16px);
		}
	}

	.user--avatar {
		width:  rem(50px);
		height: rem(50px);
	}

	.user--infos {
		padding:     0 padding_horizontal();

		width:       rem(215px);

		line-height: 1.3;
	}

	.user--name {
		@include font_default_bold;
	}

	.user--presentation {
		font-size: (12 / 16) * 1em;
		color:     $color_grey_light;
	}

	.user-admin-panel {
		font-size: (14 / 18) * 1em;
	}

	.user-admin-panel {
		position:     relative;
		margin-right: rem(10px);

		@include clearulli;

		a {
			&::before {
				content:         '';
				display:         inline-block;
				width:           rem(17px);
				height:          rem(17px);
				border-radius:   50%;
				background-size: 100% 100%;
			}

			&.pending_set_member::before,
			&.banned_set_member::before {
				@import "../../_assets/checked.svg";
			}

			&.pending_set_remove::before,
			&.banned_set_remove::before,
			&.member_set_remove::before,
			&.admin_set_user::before {
				@import "../../_assets/cancel.svg";
			}

			&.member_set_banned::before {
				@import "../../_assets/minus.svg";
			}

			&.member_set_admin::before {
				@import "../../_assets/star.svg";
			}
		}

		.sibling-toggle {
			@include button-reset;

			display:         inline-block;
			width:           rem(17px);
			height:          rem(17px);
			border-radius:   50%;
			background-size: 100% 100%;
			@import "../../_assets/settings-2.svg";

			span {
				@include visually-hidden;
			}
		}

		.sibling-toggle + [aria-hidden] {
			position:    absolute;
			top:         100%;
			right:       0;

			@include card_shadow;
			padding:     .5em;
			font-size:   rem(14px);

			white-space: nowrap;

			a {
				span {
					position: relative;
					top:      -.2em;
				}

				&:focus,
				&:hover {
					span {
						text-decoration: underline;
					}
				}
			}

			&[aria-hidden="false"] {
				display: none;
			}
		}

		ul:not([aria-hidden]) {
			li {
				display:     inline-block;
				margin-left: rem(4px);
			}

			a {
				span {
					@include visually-hidden;
				}
			}
		}
	}
}
