/**************************************************
 * USER COMPONENTS
 *************************************************/

@use "sass:math";

.user {
	position: relative;
}

.user--avatar {
	display:       flex;
	border-radius: 50%;
	overflow:      hidden;
	flex-shrink:   0;

	&.user--avatar__empty {
		background-color: $color_aubergine;
		//background-color: var(--color);
	}

	img {
		display:    block;
		object-fit: cover;
		width:      100%;
		height:     100%;
	}

	svg {
		display: block;
		margin:  auto;
		width:   60%;
		height:  60%;
	}
}

.user--admin {
	position: absolute;
	top:      0;
	left:     0;

	&::before {
		content:           '';
		display:           block;
		width:             rem(10px);
		height:            rem(10px);

		@import "../../_assets/star.svg";
		background-repeat: no-repeat;
		background-size:   contain;
	}

	span {
		@include visually-hidden;
	}
}

/**************************************************
 * USER TINY (simple avatar)
 *************************************************/

.user__tiny {
	position:       relative;
	display:        inline-block;
	vertical-align: top;

	width:          line_height_default() * 1em;
	height:         line_height_default() * 1em;

	.user--admin {
		z-index: 1;
	}

	.user--name {
		position:  absolute;
		width:     0;
		height:    0;
		overflow:  hidden;
		font-size: 0;
	}

	.user--avatar {
		position: absolute;
		top:      0;
		right:    0;
		bottom:   0;
		left:     0;
	}
}

/**************************************************
 * USER IN ITEMS LIST (avatar + name + presentation)
 *************************************************/

.user__in-items-list {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	.user--admin {
		top: rem(13px);

		&::before {
			width:  rem(16px);
			height: rem(16px);
		}
	}

	.user--avatar {
		width:        rem(40px);
		height:       rem(40px);
		margin-right: 1rem;
	}

	.user--infos {
		flex-grow: 1;
	}

	.user--presentation {
		font-size: math.div(12, 14) * 1em;
		color:     $color_grey_light;
	}
}

/**************************************************
 * USER TEASER (avatar + name + presentation)
 *************************************************/

.user__teaser {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	.user--avatar {
		width:        rem(40px);
		height:       rem(40px);
		margin-right: 1rem;
	}

	.user--infos {
		flex-grow: 1;
	}

	.user--name {
		font-size: math.div(14, 16) * 1em;
	}

	.user--presentation {
		font-size: math.div(12, 16) * 1em;
		color:     $color_grey_light;
	}
}

/**************************************************
 * USER HEADER
 *************************************************/

.user__header {
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: flex-start;
	align-items:     center;

	margin-bottom:   column_gap();

	.user--avatar {
		width:  rem(150px);
		height: rem(150px);

		@include medium-or-more {
			margin-right: column_gap();
			flex-shrink:  0;
		}
	}

	.small-title {
		color: $color_grey_neutral;
	}

	.user--name {
	}

	.user--presentation {
		@include font_default_bold;

		color: $color_grey_neutral;
	}
}

/**************************************************
 * USER PROFILE
 *************************************************/

.user__profile {
	@include card_shadow;
	padding: padding_vertical() padding_horizontal();

	> .user-container {
		.user-title {
			display:         flex;
			flex-flow:       row nowrap;
			justify-content: flex-start;
			align-items:     center;

			flex-grow:       1;

			margin-bottom:   padding_vertical();
		}

		.user-contact {
			align-self: flex-start;
			text-align: right;
		}

		.user--name {
			margin-bottom: rem(6px);
		}

		.user--location,
		.user--site {
			font-size: rem(16px);
			color:     $color_grey_neutral
		}

		.user--avatar {
			width:  rem(100px);
			height: rem(100px);

			@include medium-or-more {
				margin-right: padding_horizontal();
			}
		}

		.user--presentation,
		.user--skills,
		.user--bio {
			margin-bottom: rem(30px);
		}

		.user--presentation {

			@include font_default_bold;

			color: $color_grey_neutral;
		}

		.user--bio {
			p {
				font-size: rem(16px);
			}
		}
	}
}

/**************************************************
 * USER LIST
 *************************************************/

.members-list {
	@include clearulli(true);

	> li {
		border-bottom: 1px solid $color_grey_border;
	}
}

.user__in-members-list {
	position:    relative;

	&:focus,
	&:hover {
		background-color: rgba(white, .6);
	}

	&:hover {
		z-index: 1;
	}

	&:focus-within {
		z-index: 1;
	}

	&.user__pending {
		&::before {
			content:          '';
			position:         absolute;
			top:              0;
			left:             0;
			bottom:           0;
			width:            rem(4px);
			background-color: $color_aubergine;
		}
	}

	&.user__banned {
		&::before {
			content:          '';
			position:         absolute;
			top:              0;
			left:             0;
			bottom:           0;
			width:            rem(4px);
			background-color: $color_orange_red;
		}
	}

	display:     flex;
	flex-flow:   row nowrap;
	align-items: center;

	a {
		color:           inherit;
		text-decoration: none;
	}

	.user-infos {
		flex-grow:   1;

		display:     flex;
		flex-flow:   row nowrap;
		align-items: center;

		padding:     0;

		@include medium-or-more {
			padding: padding_vertical() padding_horizontal();
		}
	}

	.user--admin {
		top: padding_vertical();

		@include small-or-less {
			left: 0;
		}

		@include medium-or-more {
			left: padding_horizontal();
		}

		&::before {
			width:  rem(16px);
			height: rem(16px);
		}
	}

	.user--avatar {
		width:  rem(50px);
		height: rem(50px);

		@include small-or-less {
			margin: 1.25rem 0;
		}
	}

	.user--infos-site {
		@include medium-or-less {
			padding: 0 0 0 padding_horizontal();
		}

		@include large-or-more {
			display:     flex;
			flex:        1;
			flex-flow:   row nowrap;
			align-items: center;
		}
	}

	.user--infos {
		@include large-or-more {
			padding: 0 padding_horizontal();
			width:   rem(215px);
		}

		line-height: 1.3;
	}

	.user--name {
		@include font_default_bold;
	}

	.user--presentation {
		font-size: math.div(12, 16) * 1em;
		color:     $color_grey_light;
	}

	.user--site {
		@include medium-or-less {
			margin-top: .8em;
			font-size:  math.div(12, 16) * 1em;
		}
	}
}
