/**************************************************
 * FOOTER
 *************************************************/

@use "sass:math";

.footer {
	margin:           rem(80px) 0 0;

	font-size:        rem(16px);

	color:            $color_grey_dark;
	background-color: white;

	@include clearulli;

	.content-container {
		@include columns;

		padding: rem(40px) rem(50px);

		@include medium-or-more {
			padding: rem(100px) padding_horizontal();
		}
	}
}

.footer--logo {
	@include columns_item(1 * 0.25);
	margin-bottom: 0;
}

.footer--menu {
	@include columns_item(3 * 0.25);
	margin-bottom: 0;

	> ul {
		@include columns;

		> li {
			@include columns_item(math.div(1, 3));

			@include medium-or-more {
				margin-bottom: 0;
			}
		}
	}

	span,
	a {
		display: block;
		padding: .7em 0;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	span {
		@include font_default_bold;
	}
}

.project-sponsor-logo {
	margin-top:  rem(32px);

	img {
		margin:        0 1em 1em 0;

		display:       block;
		float:         left;
		width:         rem(58px);
		height:        auto;
		border-radius: rem(5px);
		overflow:      hidden;
	}

	font-size:   rem(10px);
	line-height: (13 * 0.1);
	color:       #9b9b9b;
}
