/**************************************************
 * HEADER
 *************************************************/

.header {
	position:         fixed;
	z-index:          100;
	top:              0;
	right:            0;
	left:             0;
	display:          flex;
	flex-flow:        row nowrap;
	justify-content:  space-between;
	align-items:      center;

	margin:           0;
	padding:          0 padding_horizontal();

	@include large-or-more {
		padding: 0 column_gap();
	}

	@include font_default_bold;
	font-size:        font_size_default();
	color:            $color_grey_medium;
	background-color: white;

	height:           rem(70px);

	& + main {
		margin-top: rem(70px);
	}

	@include large-or-more {
		height: rem(80px);
		& + main {
			margin-top: rem(80px);
		}
	}
}

.header--logo {
	@include medium-or-less {
		order:     1;
		flex-grow: 1;
		height: 3.125rem;
	}

	@include large-or-more {
		order:   2;
		padding: 0 1rem;
		height: 3.75rem;
	}

	a {
		position:        relative;
		display:         inline-block;
		margin:          0;
		padding:         0;

		text-decoration: none;

		img {
			display:   block;
			max-width: none;
			width:     auto;

			height:    rem(50px);

			@include large-or-more {
				height: rem(60px);
			}
		}
	}
}

.header--search{
	@include medium-or-less {
		display: none;
	}

	@include large-or-more {
		order:      3;
		padding:    padding_vertical() padding_horizontal();
		flex-basis: 50%;
		text-align: right;

		input {
			width: 285px;
		}
	}
}

.header--pages {
	@include clearulli;

	@include medium-or-less {
		order: 3;

		.toggle-button {
			@include button-reset;

			margin-left: padding_horizontal();

			svg {
				margin-right:      .31em;

				stroke-dashoffset: 47px;
				transition:        stroke-dashoffset 1s ease-in-out;
			}

			&:not([data-toggle-element-aria-expanded="true"]) svg {
				stroke-dashoffset: 0;
			}
		}

		> ul {
			position:         absolute;
			top:              100%;
			right:            0;
			height:           calc(100vh - #{rem(70px)});

			background-color: white;

			overflow:         hidden;
			transition:       transform .35s ease-out;

			&:not([aria-expanded="true"]) {
				transform: translateX(100%);
			}
		}

		li {
			width: 70vw;
		}

		a {
			display:         block;
			margin:          0;
			padding:         .5em .8em;

			color:           inherit;
			text-decoration: none;

			&:focus,
			&:hover {
				color:            white;
				background-color: $color_aubergine;
			}
		}
	}

	@include large-or-more {
		order:      1;
		flex-basis: 50%;
		padding:    padding_vertical() 0;

		.toggle-button {
			display: none;
		}

		.toggle-search-link {
			display: none;
		}

		li {
			display: inline-block;

			&:not(:first-child) {
				margin-left: rem(30px);
			}
		}

		a {
			display:         inline-block;
			margin:          0;
			padding:         .4em 0;

			color:           inherit;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header--user {
	order:      2;

	@include large-or-more {
		order:      3;
		padding:    padding_vertical() 0;
	}

	text-align: right;
}

.header--user-menu {
	position: relative;
	display:  inline-block;

	@include clearulli;

	.connexion {
		@include cta-style($color_aubergine, true);
	}

	.user__tiny {
		vertical-align: middle;
		width:          rem(40px);
		height:         rem(40px);

		.user--avatar {
			@include shadow;
		}
	}

	.toggle-button {
		@include button-reset;
	}

	.links {
		@include font_helvetica;
		font-weight: lighter;
		position:    absolute;
		top:         calc(100% + 1rem);
		right:       0;

		text-align:  left;
		white-space: nowrap;

		max-height:  0;
		transition:  max-height .5s ease-in-out;
		overflow:    hidden;
		@include shadow;

		ul {
			margin:           0;
			padding:          .5rem;

			background-color: white;
			border-radius:    2px;

			li {
				&:not(:first-child) {
					border-top: 1px solid $color_grey_border;
				}
			}

			a {
				display:         block;
				padding:         .5rem .8rem;

				text-decoration: none;

				&:hover,
				&:focus {
					color:            white;
					background-color: $color_aubergine;
				}
			}
		}

		&[aria-hidden="false"] {
			max-height: 100vh;
		}
	}

	&:hover .links {
		max-height: 100vh;
	}

	&:focus-within .links {
		max-height: 100vh;
	}
}
