/**************************************************
 * MAIN
 *************************************************/

main {
	flex-grow: 1;
}

.main {

}

.main--header {
	position: relative;
	display:  flex;
}

.main--header__cover {
	min-height: (237 / 375) * 100vw;

	@include medium-or-more {
		min-height: rem(500px);
	}
}

.main--header--image {
	position:         absolute;
	top:              0;
	right:            0;
	bottom:           0;
	left:             0;

	background-color: black;

	img {
		display:    block;
		width:      100%;
		height:     100%;
		object-fit: cover;
	}
}

.main--header--content {
	position:       relative;
	margin-top:     auto;
	margin-bottom:  auto;

	padding-top:    rem(40px);
	padding-bottom: rem(40px);

	@include medium-or-more {
		padding-top:    rem(80px);
		padding-bottom: rem(80px);
	}

	.main--header--image ~ & {
		color: white;
	}
}

.main--content {
	padding-top: rem(40px);

	@include medium-or-more {
		padding-top: rem(80px);
	}
}

/**************************************************
 * COMMON COMPONENTS
 *************************************************/

.items-list {
	@include clearulli(true);

	> li {
		border-bottom: 1px solid $color_grey_lighter;

		> a {
			display:         flex;

			padding:         rem(15px) 0;

			color:           inherit;
			text-decoration: none;
		}
	}
}
