/**************************************************
 * MAIN
 *************************************************/

main {
	flex-grow: 1;
}

.main-presentation {
	padding-top: first_content_padding('small');

	@include large-or-more {
		padding-top: first_content_padding('large');
	}
}
