<div class="app-flashes">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message|trans }}
			</div>
		{% endfor %}
	{% endfor %}
</div>
