{% set flashes = app.flashes %}
{% if flashes is not empty %}
	<div class="app-flashes">
		{% for label, messages in flashes %}
			<div class="app-flashes__{{ label }}">
				{% for message in messages %}
					<div class="flash flash__{{ label }}">
						{{ message|trans|raw }}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
