<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
	{% set i = 1 %}
	{% for item in items %}
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			{% if item.href is defined %}
				<a href="{{ item.href }}">
					<span itemprop="name">{{ item.label }}</span>
				</a>
			{% else %}
				<span itemprop="name">{{ item.label }}</span>
			{% endif %}
			<meta itemprop="position" content="{{ i }}"/>
			{% set i = i + 1 %}
		</li>
	{% endfor %}
</ol>

<svg viewBox="0 0 300 4" xmlns="http://www.w3.org/2000/svg">
	<line x1="0" y1="2" x2="100" y2="2"
		  style="stroke: #92D4F2; stroke-width: 1"/>
	<line x1="100" y1="2" x2="200" y2="2"
		  style="stroke: #06A243; stroke-width: 1"/>
	<line x1="200" y1="2" x2="300" y2="2"
		  style="stroke: #8F607C; stroke-width: 1"/>
</svg>

