<script>
  // Créez une variable JavaScript avec la liste des membres
  const members = {{ members | json_encode | raw }};
</script>

<div id="mapHomeId" class="map-size">

  <div id="toggle-switch-container" class="toggle-switch-container" style="background-color: white; display: block;">
    <h2 style="margin: 0;text-decoration: underline; margin-bottom: 5px">Cartographie des membres</h2>
    <div id="radio-buttons-container" class="radio-buttons-container" style="display: flex; flex-direction: column;">
      <label id="radio-adapted-label" for="show-active-users" class="radio-button-label" style="display: flex; align-items: center;">
        <input id="show-active-users" type="radio" name="adaptative-user-filter" value="adapted" checked>
        <span class="radio-button-text" style="margin-left: 5px;">Engagés dans une démarche d'adaptation</span>
      </label>
      <label id="radio-not-adapted-label" for="show-all-users" class="radio-button-label" style="display: flex; align-items: center;">
        <input id="show-all-users" type="radio" name="adaptative-user-filter" value="all">
        <span class="radio-button-text" style="margin-left: 5px;">Tous</span>
      </label>
    </div>
  </div>
</div>